{% extends "master.html.twig" %}

{% block content %}
<div class-"min-height">
    <h5 class="min-height extra-padding text-center"> Success! </h5>
    <p class="text-center"> Product "{{ v.name }}" was added succesfully. </p>
    <p class="text-center"> Go to the <a href="/product/{{ newId }}">product page</a>. </p>
</div>
{% endblock content %}