{% extends "master.html.twig" %}

{% block title %}Home page
{% endblock %}

{% block head %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		function readURL(input, image) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(image).attr('src', e.target.result).height(120);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
	</script>

{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2>Product Management</h3>
	</div>
{% endblock %}

{% block content %}

	{% if errorsArray %}
		<ul class="errorMessage">
			{% for error in errorsArray %}
				<li>{{ error}}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<div class="container pt-3">
		<form method="post" enctype="multipart/form-data" class="m-md-2">
			<div class="row">
				<div class="col-md-6 pt-3">
                    <div class="form-group">
						<label for="folderName">Folder Name</label>
						<input type="text" class="form-control" name="folderName" placeholder="Folder name for media" value="{{ v.folderName }}" id='folderName'>
					</div>
                    <div class='upload-media'>
                        <label for="email" ><h5>Image 1 (Cover)</h5></label>
                        <img class="mx-auto my-4 d-block" height="120px" id="Image1" src={% if v.picture1 %}"{{ v.picture1 }}"{% else %} "/uploads/default.png" {% endif %} alt="Product Image 1"/>
                        <div class="custom-file">
                            <input type="file" id="picture1" name="picture1" onchange="readURL(this, '#Image1');">
                            <label class="custom-file-label" for="picture1">Select Image</label>
                        </div> 
                    </div>
                    <div class='upload-media'>
                        <label for="email"><h5>Image 2</h5></label>
                        <img class="mx-auto my-4 d-block" height="120px" id="Image2" src={% if v.picture2 %}"{{ v.picture2 }}"{% else %} "/uploads/default.png" {% endif %} alt="Product Image 2"/>
                        <div class="custom-file">
                            <input type="file" id="picture2" name="picture2" onchange="readURL(this, '#Image2');">
                            <label class="custom-file-label" for="picture2">Select Image</label>
                        </div> 
                    </div>
                    <div class='upload-media'>
                        <label for="email"><h5>Image 3</h5></label>
                        <img class="mx-auto my-4 d-block" height="120px" id="Image3" src={% if v.picture3 %}"{{ v.picture3 }}"{% else %} "/uploads/default.png" {% endif %} alt="Product Image 1"/>
                        <div class="custom-file">
                            <input type="file" id="picture3" name="picture3" onchange="readURL(this, '#Image3');">
                            <label class="custom-file-label" for="picture3">Select Image</label>
                        </div> 
                    </div>
                    <div class='upload-media'>
                        <label for="email"><h5>Video File (Trailer)</h5></label>
                        <img class="mx-auto my-4 d-block" height="120px" id="Video1" src={% if v.video %}"{{ v.video }}"{% else %} "/uploads/default.png" {% endif %} alt="Product Video"/>
                        <div class="custom-file">
                            <input type="file" id="video1" name="video1" onchange="readURL(this, '#Video1');">
                            <label class="custom-file-label" for="video1">Select Video</label>
                        </div> 
                    </div>
				</div>

				<div class="col-md-6 pt-3">
					<div class="form-group">
						<label for="name">Category</label>
                        <select class="form-control" id="sel-category" name="category">
                            {% for category in categoriesList %}
                            <option>{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" name="name" placeholder="Product Name" value="{{ v.name }}" id='name'>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<textarea class="form-control form-textarea" name="description" placeholder="Product description" id='description' value="{{ v.description }}">{{ v.description }}</textarea>
					</div>
					<div class="form-group">
						<label for="sel-genre">Game Genre</label>
                        <select class="form-control" id="sel-genre" name="game_genre">
                            {% for genre in genresList %}
                            <option>{{ genre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
						<label for="sel-developer">Developer</label>
                        <select class="form-control" id="sel-developer" name="developer">
                            {% for developer in developersList %}
                            <option>{{ developer }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
						<label for="sel-platform">Platform</label>
                        <select class="form-control" id="sel-platform" name="platform">
                            {% for platform in platformsList %}
                            <option>{{ platform }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
						<label for="releaseDate">Release Date</label>
                        <input type='date' class="form-control" id="releaseDate" name="releaseDate" value="{{ v.releaseDate }}">
                    </div>
					<div class="form-group">
						<label for="unitPrice">Unit Price</label>
						<input type="number" step="0.01" class="form-control" name="unitPrice" min=0 max=1000 value="{{ v.unitPrice }}">
					</div>
					<div class="form-group form-check">
						<input class="form-check-input" type="checkbox" id="onSaleCheckbox" name="onSale" {% if v.onSale == 'yes' %} checked {% endif %}>
						<label class="form-check-label" for="defaultCheck1">
							On Sale
						</label>
					</div>
                    <div class="form-group">
						<label for="newPrice">New Price</label>
						<input type="number" step="0.01" class="form-control" name="newPrice" min=0 max=1000 value="{{ v.newPrice }}">
					</div>
                    <div class="form-group">
						<label for="url">URL</label>
						<input type="text" class="form-control" name="url" placeholder="Product URL" value="{{ v.url }}">
					</div>
					<div class="text-center">
						<button text-center type="submit" class="btn btn-dark px-md-5 m-md-2">Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
