{% extends "master.html.twig" %}

{% block title %}My Cart{% endblock title %}

{% block content %}

<div class="extra-padding text-center">

    <div class="container">

    <h5 class="pt-3 pb-1">My Cart Items: </h5>

    {% if cartitemList %}
    
        {% for product in cartitemList %}
			<div class="row my-3 mx-5 border" id="itemrow{{ product.productId }}">
				<div class="col-md-3 my-auto mx-auto">
					<div class="container py-auto text-center">
						<img class="mx-auto my-4 d-block" width="100px" src="{{ product.picture1 }}" alt="Product image - {{ product.name }}"/>
					</div>
				</div>

				<div class="col-md-6 my-auto mx-auto text-center">
					<a href="/product/{{ product.id }}">
						<h5>{{ product.name}}</h5>
					</a>
					<p>{{ product.category}}</p>
					<h6>Unit Price: {{ product.unitPrice }} CAD &nbsp; |  &nbsp;
                    Product Sub-Total:
                    <span id="totalProductPrice{{ product.productId }}" class="cartQuantity text-center" type="number" style="width:100px;" disabled>{{ product.quantity * product.unitPrice }}</span>
                    CAD</h6>
				</div>

				<div class="col-md-3 my-auto mx-auto text-center">
                    <div class="row">
                        <h5 class="my-auto mx-auto text-center">Quantity</h5>
                    </div>
                    <div class="row pt-1 quantity-div">
                        <div class="my-auto mx-auto text-center pt-1">
                            <button onclick="decrement({{ product.productId }}, {{ product.unitPrice }})" class="btn btn-dark"><p>-</p></button>
                            <input class="cartQuantity text-center" cartId="{{ product.cartId }}" type="number" name="quantity{{ product.productId }}"
                                value="{{ product.quantity }}" style="width:30px;">
                            <button onclick="increment({{ product.productId }}, {{ product.unitPrice }})" class="btn btn-dark">+</button>
                            <button href="" class="updateLink ml-3 btn btn-dark" id="update{{ product.productId }}" name="bt-update" disabled>update</button>
                            <input name="productId" value="{{ product.productId }}" hidden>  <!--Only to get the product id into AJAX-->
                            <input name="cartItemId" value="{{ product.cartId }}" hidden>    <!--Only to get the product id into AJAX-->
                            <input name="unitPrice" value="{{ product.unitPrice }}" hidden>  <!--Only to get the product id into AJAX-->
                        </div>
                    </div>
				</div>

			</div>
		{% endfor %}

        <a href="/order" class="btn btn-dark">Place order</a>

    {% else %}
    
        <div class="col-12 text-center p-5">
            <p>Nothing to show yet. Do you want to add something to your cart?</p>
            <p>Go and check our <a href="/">products</a>!</p>
        </div>

    {% endif %}

</div>
</div>

{% endblock content %}

{% block scriptbody %}

    <script type="text/javascript">

        function increment(id, unitPrice) {
            var value = $("input[name=quantity" + id + "]").val();
            value++;
            $("input[name=quantity" + id + "]").val(value);
            $("#totalProductPrice" + id).html((value * unitPrice).toFixed(2));
            $("#totalProductPrice" + id).css("color", "red");
            $("#update" + id).prop('disabled', false);
        }
        function decrement(id, unitPrice) {
            var value = $("input[name=quantity" + id + "]").val();
            if (value > 0) {
                value--;
            }
            $("input[name=quantity" + id + "]").val(value);
            $("#totalProductPrice" + id).html((value * unitPrice).toFixed(2));
            $("#totalProductPrice" + id).css("color", "red");
            $("#update" + id).prop('disabled', false);
        }

        $(document).ready(function(){

            $("button[name='bt-update']").click(function (){
                var productId = $(this).next().val();           // From the bt-update button, the next item is productId (hidden input)
                var cartItemId = $(this).next().next().val();   // From the bt-update button, the next - next item is cartItemId (hidden input)
                var unitPrice = $(this).next().next().next().val();   // From the bt-update button, the next - next - next item is cartItemId (hidden input)
                var quantity = $("input[name=quantity" + productId + "]").val();

                $.ajax({ // FIXME: escape special characters using urlencode    
                    url: "/mycart/update/" + cartItemId + "/" + productId + "/" + quantity + "/" + unitPrice,// * 100, // FIXME. Problems with php slim to recognize a decimal value properly
                    type: "POST", 
                    dataType: "json"
                }).done(function (result) {
                    if(result=='succeed'){
                        $("#totalProductPrice" + productId).css("color", "black");
                        $("#update" + productId).prop('disabled', true);
                        if (quantity == 0){
                           $("#itemrow" + productId).hide();
                           refreshCartQuantity();
                           $("#totalProductPrice"+ productId).html(unitPrice * quantity);
                        }
                        //reload list of products
                    } else if(result=='fail'){
                        $("#span-update").html("problem updating the product quantity in the cart!");
                        $("#span-update").show(300).delay(2000).fadeOut("slow");
                    }
                }).fail(function (jqxhr) {
                    alert("AJAX error: " + jqxhr.responseText); 
                });
            });
        });
    </script>

{% endblock scriptbody %}