{% extends "master.html.twig" %}

{% block title %}Access denied
{% endblock %}
{% block head %}	
	<style>
		body {background-color: white;}
	</style>
{% endblock %}

{% block content %}
	<div class="container text-center mt-md-5">
		<h1 class="errorBanner">Access denied</h1>
		<h3 class="mt-md-5">Click<a href="/"> here</a> to continue.</h3>
		<img src="/images/forbidden.gif" class="img-fluid" alt="Forbidden">
	</div>
{% endblock %}
