{% extends "master.html.twig" %}

{% block title %}Page not found - 404
{% endblock %}

{% block head %}	
	<style>
		body {background-color: white;}
	</style>
{% endblock %}
{% block content %}
	<div class="container text-center mt-md-5">
		<h1 class="errorBanner">Page not found - 404</h1>
		<h3 class="mt-md-5">Click<a href="/"> here</a> to continue.</h3>
		<img src="/images/not_found.gif" class="img-fluid" alt="Not Found">
	</div>
{% endblock %}
