{% extends "master.html.twig" %}

{% block title %}Internal error
{% endblock %}
{% block head %}	
	<style>
		body {background-color: white;}
	</style>
{% endblock %}
{% block content %}
	<div class="container text-center mt-md-5">
		<h1 class="errorBanner">Ops...</h1>
		<h3 class="mt-md-5">Internal error occured. Our team has been notified</h3>
		<h3 class="mt-md-5">Click <a href="/">here </a>to continue.</h3>
		<img src="/images/internal.gif" class="img-fluid" alt="Error">
	</div>
{% endblock %}
