{% extends "master.html.twig" %}

{% block title %}Under construction
{% endblock %}

{% block head %}	
	<style>
		body {background-color: white;}
	</style>
{% endblock %}
{% block content %}
	<div class="container text-center mt-md-5">
		<h1 class="errorBanner">Under Construction!</h1>
		<h3 class="errorBanner mt-md-5">Content will be available soon...</h3>
		<h3 class="mt-md-5">Click<a href="/"> here</a> to continue.</h3>
		<img src="/images/lego.gif" class="img-fluid" alt="Under Construction">
	</div>
{% endblock %}
