{% extends "master.html.twig" %}

{% block title %}Game Store{% endblock title %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script>
            $("#main-div").load("/ajax/indexpage/");
        }

        $(document).ready(function(){
            loadProductPage(currentPage);
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>
{% endblock head %}

{% block content %}

  <div id="video-header-bgd" class="video-header-bgd color-container">
    <div class="video-header container">
    {# <div class="img-background-container row container">
      <img src="/product_pictures/AC_Valhalla/AC_Back.png" class="mt-3"/>
    </div> #}
        <video class="video-fluid z-depth-1 img-center" autoplay loop controls muted>
            <source src="/product_pictures/AC_Valhalla/video/ACV_Trailer.mp4" type="video/mp4" />
        </video>
    </div>
  </div>


  <div class="main-div" id="product-main-div">
      <ul id="main-div"></ul>     <!--This comes from ajax_productpage.html.twig-->
  </div>

  <!-- THIS WILL BE MOVED LATER TO AJAX_PRODUCTPAGE.HTML.TWIG -->

  <!-- TOP GAMES -->
  <div id="Top-Games-div">

    <div class="container" >
      <div class="row-container" id="Top-Games">
        <h3>TOP GAMES {% if category %}<a type="button" class="btn btn-dark float-right mr-3 mb-2" href="/category/list/{{category}}"> See all {{ category }} games </a>{% endif %}</h3>
        <div class="row-container" id="Top-Games">

          <div class="col-md-4" style="float:left">
            <div class="card mb-4" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-6">
                  <div class="index-image-container-adj">
                    <img class="card-img-top index-img-prod img-center" src="/{{ productListTop.0.picture1 }}" alt="{{ productListTop.0.picture1 }} Poster Image">
                  </div>
                  <div class="rating-container-adj rating-gold">
                    <div class="text-center">
                      <h1 class="rating-num">{% if productListTop.0.averageRating %}{{ productListTop.0.averageRating|number_format(1)}}{% else %} N.R. {% endif %}</h1>
                        <div class="rating-stars">
                           {% if productListTop.0.averageRating == 0 %}
                                {% for i in 0..4 %}
                                    <i class="far fa-star" style="color:#black"></i>
                                {% endfor %}
                            {% elseif productListTop.0.averageRating == 5 %}
                                {% for i in 0..4 %}
                                    <i class="fas fa-star" style="color:#black"></i>
                                {% endfor %}
                            {% else %}
                                {% for i in 0..productListTop.0.averageRating|round(0, 'floor')-1 %}
                                    <i class="fas fa-star" style="color:#black"></i>
                                {% endfor %}
                                {% if productListTop.0.averageRating != productListTop.0.averageRating|round(0, 'floor')%}
                                    <i class="fas fa-star-half-alt" style="color:black"></i>
                                     {% if productListTop.0.averageRating|round(0, 'ceil') != 5 %}
                                        {% for i in 0..5-(productListTop.0.averageRating|round)-1 %}
                                            <i class="far fa-star" style="color:black"></i>
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {% for i in 0..productListTop.0.averageRating-4 %}
                                        <i class="far fa-star" style="color:black"></i>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>
                         <span class="glyphicon glyphicon-user">{% if productListTop.0.totalRatings %}{{ productListTop.0.totalRatings}} total{% else %}not rated yet{% endif %} </span>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                      <h5 class="card-title">{{ productListTop.0.name }}</h5>
                      <p class="card-text ">{{ productListTop.0.description }}</p>
                      <div class="card-text"><small class="text-muted"><a href='/product/{{ productListTop.0.id }}'>More info...</a></small></div>
                  </div>
                </div>
              </div>
            </div>   
          </div> 


          <div class="col-md-4" style="float:left">
            <div class="card mb-4" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-6">
                  <div class="index-image-container-adj">
                    <img class="card-img-top index-img-prod img-center" src="/{{ productListTop.1.picture1 }}" alt="{{ productListTop.1.picture1 }} Poster Image">
                  </div>
                  <div class="rating-container-adj rating-silver">
                    <div class="text-center">
                      <h1 class="rating-num">{% if productListTop.1.averageRating %}{{ productListTop.1.averageRating|number_format(1)}}{% else %} N.R. {% endif %}</h1>
                        <div class="rating-stars">
                         {% if productListTop.1.averageRating == 0 %}
                                {% for i in 0..4 %}
                                    <i class="far fa-star" style="color:#black"></i>
                                {% endfor %}
                            {% elseif productListTop.1.averageRating == 5 %}
                                {% for i in 0..4 %}
                                    <i class="fas fa-star" style="color:#black"></i>
                                {% endfor %}
                            {% else %}
                                {% for i in 0..productListTop.1.averageRating|round(0, 'floor')-1 %}
                                    <i class="fas fa-star" style="color:#black"></i>
                                {% endfor %}
                                {% if productListTop.1.averageRating != productListTop.1.averageRating|round(0, 'floor')%}
                                    <i class="fas fa-star-half-alt" style="color:black"></i>
                                     {% if productListTop.1.averageRating|round(0, 'ceil') != 5 %}
                                        {% for i in 0..5-(productListTop.1.averageRating|round)-1 %}
                                            <i class="far fa-star" style="color:black"></i>
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {% for i in 0..productListTop.1.averageRating-4 %}
                                        <i class="far fa-star" style="color:black"></i>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>
                          <span class="glyphicon glyphicon-user">{% if productListTop.1.totalRatings %}{{ productListTop.1.totalRatings}} total{% else %}not rated yet{% endif %} </span>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                      <h5 class="card-title">{{ productListTop.1.name }}</h5>
                      <p class="card-text ">{{ productListTop.1.description }}</p>
                      <div class="card-text"><small class="text-muted"><a href='/product/{{ productListTop.1.id }}'>More info...</a></small></div>
                  </div>
                </div>
              </div>
            </div>   
          </div> 


          <div class="col-md-4" style="float:left">
            <div class="card mb-4" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-6">
                  <div class="index-image-container-adj">
                    <img class="card-img-top index-img-prod img-center" src="/{{ productListTop.2.picture1 }}" alt="{{ productListTop.2.picture1 }} Poster Image">
                  </div>
                  <div class="rating-container-adj rating-bronze">
                    <div class="text-center">
                      <h1 class="rating-num">{% if productListTop.2.averageRating %}{{ productListTop.2.averageRating|number_format(1)}}{% else %} N.R. {% endif %}</h1>
                        <div class="rating-stars">
                          {% if productListTop.2.averageRating == 0 %}
                                {% for i in 0..4 %}
                                    <i class="far fa-star" style="color:#black"></i>
                                {% endfor %}
                            {% elseif productListTop.2.averageRating == 5 %}
                                {% for i in 0..4 %}
                                    <i class="fas fa-star" style="color:#black"></i>
                                {% endfor %}
                            {% else %}
                                {% for i in 0..productListTop.2.averageRating|round(0, 'floor')-1 %}
                                    <i class="fas fa-star" style="color:#black"></i>
                                {% endfor %}
                                {% if productListTop.2.averageRating != productListTop.2.averageRating|round(0, 'floor')%}
                                    <i class="fas fa-star-half-alt" style="color:black"></i>
                                     {% if productListTop.2.averageRating|round(0, 'ceil') != 5 %}
                                        {% for i in 0..5-(productListTop.2.averageRating|round)-1 %}
                                            <i class="far fa-star" style="color:black"></i>
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {% for i in 0..productListTop.2.averageRating-4 %}
                                        <i class="far fa-star" style="color:black"></i>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>
                         <span class="glyphicon glyphicon-user">{% if productListTop.2.totalRatings %}{{ productListTop.2.totalRatings}} total{% else %}not rated yet{% endif %} </span>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                      <h5 class="card-title">{{ productListTop.2.name }}</h5>
                      <p class="card-text ">{{ productListTop.2.description }}</p>
                      <div class="card-text"><small class="text-muted"><a href='/product/{{ productListTop.2.id }}'>More info...</a></small></div>
                  </div>
                </div>
              </div>
            </div>   
          </div> 

        </div>
      </div>
    </div>

  </div>
  <!-- End of TOP GAMES -->

  <!-- BEST SELLER GAMES -->
  <div id="Best-Seller-Games-div">

  <div class="container" >
    <div class="row-container" id="Best-Seller-Games">
      <h3>BEST SELLER GAMES {% if category %}<a type="button" class="btn btn-dark float-right mr-3 mb-2" href="/category/list/{{category}}"> See all {{ category }} games </a>{% endif %}</h3>


  <div class="row-container" id="Upcoming-Games">
      <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        {# <!--Controls-->
        <div class="controls-mid">
          <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!--/.Controls--> #}

        <!--Indicators-->
        <ol class="carousel-indicators margin-top-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

          <!--First slide-->
          <div class="carousel-item active">

          {% for product in productListBestSeller|slice(0,3) %}
            <div class="col-md-4" style="float:left">
            <div class="card mb-4" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-6">
                  <div class="index-image-container-adj">
                    <img class="card-img-top index-img-prod img-center" src="/{{ product.picture1|e }}" alt="{{ productpicture1|e }} Poster Image">
                  </div>
                  <div class="rating-container-adj">
                    <div class="text-center">
                    <h1 class="rating-num">{% if product.averageRating|e %}{{ product.averageRating|e|number_format(1)}}{% else %} N.R. {% endif %}</h1>
                        <div class="rating-stars">
                        {% if product.averageRating|e == 0 %}
                                 {% for i in 0..4 %}
                                    <i class="far fa-star" style="color:#black"></i>
                                {% endfor %}
                            {% elseif product.averageRating|e == 5 %}
                                {% for i in 0..4 %}
                                    <i class="fas fa-star" style="color:#black"></i>
                                {% endfor %}
                            {% else %}
                                {% for i in 0..product.averageRating|e|round(0, 'floor')-1 %}
                                    <i class="fas fa-star" style="color:#black"></i>
                                {% endfor %}
                                {% if product.averageRating|e !=product.averageRating|e|round(0, 'floor')%}
                                    <i class="fas fa-star-half-alt" style="color:black"></i>
                                     {% if product.averageRating|e|round(0, 'ceil') != 5 %}
                                        {% for i in 0..5-(product.averageRating|e|round)-1 %}
                                            <i class="far fa-star" style="color:black"></i>
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {% for i in 0..product.averageRating|e-4 %}
                                        <i class="far fa-star" style="color:black"></i>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>
                          <span class="glyphicon glyphicon-user">{% if product.totalRatings|e %}{{ product.totalRatings|e}} total{% else %}not rated yet{% endif %} </span>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                      <h5 class="card-title">{{ product.name|e }}</h5>
                      <p class="card-text ">{{ product.description|e }}</p>
                      <div class="card-text"><small class="text-muted"><a href='/product/{{ product.id|e }}'>More info...</a></small></div>
                  </div>
                </div>
              </div>
            </div>   
            </div> 
          {% endfor %}
          </div>

          <!--Second slide-->
          <div class="carousel-item">

           {% for product in productListBestSeller|slice(3,3) %}
            <div class="col-md-4" style="float:left">
            <div class="card mb-4" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-6">
                  <div class="index-image-container-adj">
                    <img class="card-img-top index-img-prod img-center" src="/{{ product.picture1|e }}" alt="{{ productpicture1|e }} Poster Image">
                  </div>
                  <div class="rating-container-adj">
                    <div class="text-center">
                    <h1 class="rating-num">{% if product.averageRating|e %}{{ product.averageRating|e|number_format(1)}}{% else %} N.R. {% endif %}</h1>
                        <div class="rating-stars">
                        {% if product.averageRating|e == 0 %}
                                 {% for i in 0..4 %}
                                    <i class="far fa-star" style="color:#black"></i>
                                {% endfor %}
                            {% elseif product.averageRating|e == 5 %}
                                {% for i in 0..4 %}
                                    <i class="fas fa-star" style="color:#black"></i>
                                {% endfor %}
                            {% else %}
                                {% for i in 0..product.averageRating|e|round(0, 'floor')-1 %}
                                    <i class="fas fa-star" style="color:#black"></i>
                                {% endfor %}
                                {% if product.averageRating|e !=product.averageRating|e|round(0, 'floor')%}
                                    <i class="fas fa-star-half-alt" style="color:black"></i>
                                     {% if product.averageRating|e|round(0, 'ceil') != 5 %}
                                        {% for i in 0..5-(product.averageRating|e|round)-1 %}
                                            <i class="far fa-star" style="color:black"></i>
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {% for i in 0..product.averageRating|e-4 %}
                                        <i class="far fa-star" style="color:black"></i>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>
                          <span class="glyphicon glyphicon-user">{% if product.totalRatings|e %}{{ product.totalRatings|e}} total{% else %}not rated yet{% endif %} </span>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                      <h5 class="card-title">{{ product.name|e }}</h5>
                      <p class="card-text ">{{ product.description|e }}</p>
                      <div class="card-text"><small class="text-muted"><a href='/product/{{ product.id|e }}'>More info...</a></small></div>
                  </div>
                </div>
              </div>
            </div>   
            </div> 
            {% endfor %}

          </div>
        
        </div>
        <!--/.Slides-->

      </div>
      <!--/.Carousel Wrapper-->
    </div>

    </div>
  </div>

  </div>
  <!-- End of BEST SELLER GAMES -->

  <!-- UPCOMING GAMES -->
  <div id="Upcoming-Games-div">

  <div class="container" >
    <div class="row-container" id="Upcoming-Games">
      <h3>UPCOMING GAMES {% if category %}<a type="button" class="btn btn-dark float-right mr-3 mb-2" href="/category/list/{{category}}"> See all {{ category }} games </a>{% endif %}</h3>
      <div class="row-container last-row" id="Upcoming-Games">

        {% for product in productListUpcoming %}
          <div class="col-md-4" style="float:left">
            <div class="card mb-2">
              <div class="image-body-div">
                <img class="card-img-car"
                  src="/{{ product.picture1 }}" alt="Card image cap">
              </div>

              <div class="card-body">
                <h4 class="card-title">{{ product.name }}</h4>
                <p class="card-text">{{ product.description }}</p>
                <a class="btn btn-primary" href="/product/{{ product.id }}">More info</a>
              </div>
            </div>
          </div>
        {% endfor %}   

      </div> 
    </div>
  </div>

  </div>
  <!-- End of UPCOMING GAMES -->


  <!-- SHOP BY PLATFORM -->
  <div id="Platform-Platform-div">

  <div class="container row-platforms">
    <div class="row-container" id="Platfoms-Plaforms">
        <h3>SHOP BY PLATFORM:</h3>
        <div class="row-container last-row" id="Upcoming-Games">

            <div class="col-md-3" style="float:left">
              <div class="mb-2">
                <div class="logo-body-div">
                  <img class="index-img-logo"
                    src="/product_pictures/platform_logos/nintendo.jpg" alt="Logo Nintendo">
                </div>

                <div class="platform-body">
                  <a class="" href="/category/nintendo"><h4 class="card-title text-center">Nintendo</h4></a>
                </div>
              </div>
            </div>


            <div class="col-md-3" style="float:left">
              <div class="mb-2">
                <div class="logo-body-div">
                  <img class="index-img-logo"
                    src="/product_pictures/platform_logos/playstation.jpg" alt="Logo Play Station">
                </div>

                <div class="platform-body">
                  <a class="" href="/category/playstation"><h4 class="card-title text-center">Play Station</h4></a>
                </div>
              </div>
            </div>


            <div class="col-md-3" style="float:left">
              <div class="mb-2">
                <div class="logo-body-div">
                  <img class="index-img-logo"
                    src="/product_pictures/platform_logos/xbox.jpg" alt="Logo X Box">
                </div>

                <div class="platform-body">
                  <a class="" href="/category/xbox"><h4 class="card-title text-center">X Box</h4></a>
                </div>
              </div>
            </div>


            <div class="col-md-3" style="float:left">
              <div class="mb-2">
                <div class="logo-body-div">
                  <img class="index-img-logo"
                    src="/product_pictures/platform_logos/pc.jpg" alt="Logo PC">
                </div>

                <div class="platform-body">
                  <a class="" href="/category/pc"><h4 class="card-title text-center">PC</h4></a>
                </div>
              </div>
            </div>


        </div> 
    </div>
  </div>

  </div>
  <!-- End of SHOP BY PLATFORM  -->

    {% if categoryConsoles %}
    
    <!-- CONSOLES -->
    <div id="Upcoming-Games-div">

    <div class="container" >
      <div class="row-container" id="Upcoming-Games">
        <h3>CONSOLES</h3>
        <div class="row-container last-row" id="Upcoming-Games">

          {% for product in categoryConsoles %}
            <div class="col-md-4" style="float:left">
              <div class="card mb-2">
                <div class="image-body-div">
                  <img class="card-img-car"
                    src="/{{ product.picture1 }}" alt="Card image cap">
                </div>

                <div class="card-body">
                  <h4 class="card-title">{{ product.name }}</h4>
                  <p class="card-text">{{ product.description }}</p>
                  <a class="btn btn-primary" href="/product/{{ product.id }}">More info</a>
                </div>
              </div>
            </div>
          {% endfor %}   

        </div> 
      </div>
    </div>

    </div>
    <!-- End of CONSOLES -->
    
    {% else %}
      <!-- MORE UPCOMING FROM EXTERNAL DATABASE -->
        {% if upcomingGameList %}
    
         <div id="More-Upcoming-Games-div">

          <div class="container" >
            <div class="row-container" id="Best-Seller-Games">
              <h3>MORE TITLES TO COME</h3>

            <div class="row-container" id="More-Upcoming-Games">
              <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                {# <!--Controls-->
                <div class="controls-mid">
                  <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <!--/.Controls--> #}

                {# <!--Indicators-->
                <ol class="carousel-indicators margin-top-indicators">
                  <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                  <li data-target="#multi-item-example" data-slide-to="1"></li>
                </ol>
                <!--/.Indicators--> #}

                <!--Slides-->
                <div class="carousel-inner" role="listbox">

                  <!--First slide-->
                  <div class="carousel-item active">

                    <div class="col-md-4" style="float:left">
                    <div class="card card-upcoming mb-4" style="max-width: 540px;">
                      <div class="row no-gutters row-card-container">
                        <div class="col-md-6 ">
                          <div class="index-image-container-adj">
                            <img class="card-img-top index-img-prod img-center" src="{{ upcomingGameList.0.picture1 }}" alt="{{ upcomingGameList.0.picture1 }} Poster Image">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="card-body">
                              <h6 class="card-title">{{ upcomingGameList.0.name }}</h6>
                              <div class="card-text"><small class="text-muted">( {{ upcomingGameList.0.platform }} )</small></div> 
                          </div>
                        </div>
                      </div>
                      <div class="row text-center card-text-date">
                        <div class="card-text card-text-date">
                          <small class="text-muted text-center"><strong>Release Date: </strong> {{ upcomingGameList.0.releaseDate }} </small>
                        </div>
                      </div>
                    </div>   
                    </div> 
                  
                    <div class="col-md-4" style="float:left">
                    <div class="card card-upcoming mb-4" style="max-width: 540px;">
                      <div class="row no-gutters row-card-container">
                        <div class="col-md-6">
                          <div class="index-image-container-adj">
                            <img class="card-img-top index-img-prod img-center" src="{{ upcomingGameList.1.picture1 }}" alt="{{ upcomingGameList.1.picture1 }} Poster Image">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="card-body">
                              <h6 class="card-title">{{ upcomingGameList.1.name }}</h6>
                              <div class="card-text"><small class="text-muted">( {{ upcomingGameList.1.platform }} )</small></div>
                          </div>
                        </div>
                      </div>
                      <div class="row text-center card-text-date">
                        <div class="card-text card-text-date">
                          <small class="text-muted text-center"><strong>Release Date: </strong> {{ upcomingGameList.1.releaseDate }} </small>
                        </div>
                      </div>
                    </div>            
                    </div> 

                    <div class="col-md-4" style="float:left">
                    <div class="card card-upcoming mb-4" style="max-width: 540px;">
                      <div class="row no-gutters row-card-container">
                        <div class="col-md-6">
                          <div class="index-image-container-adj">
                            <img class="card-img-top index-img-prod img-center" src="{{ upcomingGameList.2.picture1 }}" alt="{{ upcomingGameList.2.picture1 }} Poster Image">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="card-body">
                              <h6 class="card-title">{{ upcomingGameList.2.name }}</h6>
                              <div class="card-text"><small class="text-muted">( {{ upcomingGameList.2.platform }} )</small></div>
                          </div>
                        </div>
                      </div>
                      <div class="row text-center card-text-date">
                        <div class="card-text card-text-date">
                          <small class="text-muted text-center"><strong>Release Date: </strong> {{ upcomingGameList.2.releaseDate }} </small>
                        </div>
                      </div>
                    </div>  
                    </div> 

                  </div>

                  <!--Second slide-->
                  <div class="carousel-item">

                    <div class="col-md-4" style="float:left">
                    <div class="card card-upcoming mb-4" style="max-width: 540px;">
                      <div class="row no-gutters row-card-container">
                        <div class="col-md-6">
                          <div class="index-image-container-adj">
                            <img class="card-img-top index-img-prod img-center" src="{{ upcomingGameList.3.picture1 }}" alt="{{ upcomingGameList.3.picture1 }} Poster Image">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="card-body">
                              <h6 class="card-title">{{ upcomingGameList.3.name }}</h6>
                              <div class="card-text"><small class="text-muted">( {{ upcomingGameList.3.platform }} )</small></div>
                          </div>
                        </div>
                      </div>
                      <div class="row text-center card-text-date">
                        <div class="card-text card-text-date">
                          <small class="text-muted text-center"><strong>Release Date: </strong> {{ upcomingGameList.3.releaseDate }} </small>
                        </div>
                      </div>
                    </div>   
                    </div> 
                  
                    <div class="col-md-4" style="float:left">
                    <div class="card card-upcoming mb-4" style="max-width: 540px;">
                      <div class="row no-gutters row-card-container">
                        <div class="col-md-6">
                          <div class="index-image-container-adj">
                            <img class="card-img-top index-img-prod img-center" src="{{ upcomingGameList.4.picture1 }}" alt="{{ upcomingGameList.4.picture1 }} Poster Image">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="card-body">
                              <h6 class="card-title">{{ upcomingGameList.4.name }}</h6>
                              <div class="card-text"><small class="text-muted">( {{ upcomingGameList.4.platform }} )</small></div>
                          </div>
                        </div>
                      </div>
                      <div class="row text-center card-text-date">
                        <div class="card-text card-text-date">
                          <small class="text-muted text-center"><strong>Release Date: </strong> {{ upcomingGameList.4.releaseDate }} </small>
                        </div>
                      </div>
                    </div>            
                    </div> 

                    <div class="col-md-4" style="float:left">
                    <div class="card card-upcoming mb-4" style="max-width: 540px;">
                      <div class="row no-gutters row-card-container">
                        <div class="col-md-6">
                          <div class="index-image-container-adj">
                            <img class="card-img-top index-img-prod img-center" src="{{ upcomingGameList.5.picture1 }}" alt="{{ upcomingGameList.5.picture1 }} Poster Image">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="card-body">
                              <h6 class="card-title">{{ upcomingGameList.5.name }}</h6>
                              <div class="card-text"><small class="text-muted">( {{ upcomingGameList.5.platform }} )</small></div>
                          </div>
                        </div>
                      </div>
                      <div class="row text-center card-text-date">
                        <div class="card-text card-text-date">
                          <small class="text-muted text-center"><strong>Release Date: </strong> {{ upcomingGameList.5.releaseDate }} </small>
                        </div>
                      </div>
                    </div>  
                    </div> 

                  </div>
                
                </div>
                <!--/.Slides-->

              </div>
              <!--/.Carousel Wrapper-->
            </div>

            </div>
          </div>

          </div>
    
        {% endif %}
      <!-- End of MORE UPCOMING FROM EXTERNAL DATABASE -->
    {% endif %}

  <!-- BANNER GAMES -->
  <div id="Banner-div">

    <div class="container row-banner row-container">
      <img src="/images/banner_paper_mario.gif">
    </div>

  </div>
  <!-- End of BANNER GAMES -->



{% endblock content %}
