{% extends "master.html.twig" %}

{% block title %}Login
{% endblock %}

{% block head %}{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2 class="my-5">Login!</h2>
	</div>
{% endblock %}

{% block content %}

	<div class="container pt-3">
		<div class="row">
			<div class="col-md-6 border-right">
				<div class="container pt-3 text-center">
					{% if loginSocialMediaFailed %}
						<p class="text-center"><span class="errorMessage"> <i class="fas fa-exclamation-circle fa-sm"></i>Login failed. You may try again</span></p>
					{% endif %}
					{% if emailAlreadyRegistered %}
						<p class="text-center"><span class="errorMessage"> <i class="fas fa-exclamation-circle fa-sm"></i>Email already registered on our website, try to login with your email or another social media</span></p>
					{% endif %}
					<p>
						<a href="/login/Facebook" class="btn btn-dark px-md-5 m-md-2" style="background-color:#4267B2; color:white">Login with Facebook</a>
					</p>
					<p>
						<a href="/login/Google" class="btn btn-dark px-md-5 m-md-2" style="background-color:#DB4437; color:white">Login with Google</a> 
					</p>
					<p>
						<a href="/login/Twitter" class="btn btn-dark px-md-5 m-md-2" style="background-color:#38A1F3; color:white">Login with Twitter</a>
					</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="container pt-3">
					{% if error %}
						<p class="text-center"><span class="errorMessage"> <i class="fas fa-exclamation-circle fa-sm"></i>Login failed. You may try again.</span></p>
					{% endif %}
					<form method="post" enctype="multipart/form-data" class="m-md-2">
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" class="form-control" name="email" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" name="password" placeholder="Password">
						</div>
						<div class="text-center">
							<button text-center type="submit" class="btn btn-dark px-md-5 m-md-2">Login!</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 offset-md-7 text-center">
				<p>
					<a href="/register">Register!</a>
				</p>
			</div>
			<div class="col-md-2 text-center">
				<p>
					<a href="/passreset_request">Forgot password?</a>
				</p>
			</div>

		</div>
	</div>
{% endblock %}
