{% extends "master.html.twig" %}

{% block title %}Login Success
{% endblock %}

{% block head %}{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2 class="my-5">Login successful!</h2>
	</div>
{% endblock %}

{% block content %}

	<div class="container text-center pt-3">
		<div class="row my-auto">
			<div class="col-md-4">
				<img class="rounded-circle mx-auto my-4 d-block" width="120px" id="avatarImage" src="{{user.picturePath}}" alt="Avatar"/>
			</div>
			<div class="col-md-4">
				<h5 class="my-4">Welcome {{ user.username }}!</h5>
				<p>
					<a href="/">Start shopping</a>
				</p>
				<p>
					<a href="/userprofile/{{ user.id }}">My profile</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
