{% extends "master.html.twig" %}

{% block title %}Logout
{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2 class="my-5">Logout successful!</h2>
	</div>
{% endblock %}

{% block content %}

	<div class="container text-center pt-3">
		<p>You've been logged out.
			<a href="/">Click to continue</a>
		</p>
		<h2 class="my-5">See you next time!</h2>
	</div>
	<div class="container text-center pt-5">
		<img src="/images/marioteam2.gif" class="img-fluid" alt="Mario Team">
	</div>
{% endblock %}
