<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- External CSS-->
		<link rel='stylesheet' href='/styles.css'/>
		<link rel='stylesheet' href='/mainstyle.css'/>
		<!-- Font Awesome-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css"/>
		{# <!-- Stripe -->
		<script src="https://js.stripe.com/v3/"></script>
		<script src="/JS/script4stripe.js" defer></script> #}
		<!-- Google Fonts-->
		<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;523;600;700;800&family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&family=Roboto&display=swap" rel="stylesheet"> {% block head %}{% endblock head %}
		<!-- Favicon -->
		<link rel="icon" href="/images/joystick.png">
		<title>
			{% block title %}Title{% endblock %}| PHP Group Project</title>


	</head>

	<body>
		<!-- 0. Top-top navbar -->
		<div class="color-container top-navbar">
			<div class="container navbar navbar-expand navbar-dark top-navbar flex-column flex-md-row bd-navbar">
				<div class="navbar-nav-scroll">
					<ul class="navbar-nav bd-navbar-nav flex-row">
						<li class="nav-item">
							<input type="text" name="searchbarInput" id="searchbarInput" class="form-control left-margin-sm" placeholder="Search" >
						</li>
						<li>
							<button class="btn btn-light ml-4" onclick="searchFromInput()">Go!</button>
							</form>
						</li>
						<li class="nav-item dropdown">
							<div>
								<select class="selectpicker form-control left-margin-md width-lang" data-width="fit">
									<option data-content='<span class=""></span> English'>English</option>
									<option data-content='<span class=""></span> French'>Français</option>
									<option data-content='<span class=""></span> Portuguese'>Portugues</option>
									<option data-content='<span class=""></span> Spanish'>Español</option>
								</select>
							</div>
						</li>
					</ul>
				</div>

				<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
					<li class="nav-item">
						<p class="nav-text extra-padding">Welcome</p>
					</li>

					{% if userSession %}

						<li class="nav-item">
							<a class="nav-link extra-padding" href="/userprofile/{{ userSession.id }}">{{ userSession.username }}</a>
						</li>
						<li class="nav-item pt-1">
							<div class="user-profile-picture-div">
								<img class="user-profile-picture" src="{{ userSession.picturePath}}" alt="{{ userSession.username }} avatar"/>
							</div>
						</li>
						<li>
							<p class="nav-text extra-padding ml-2">
								|
							</p>
						</li>
						<li class="nav-item">
							<a class="nav-link extra-padding" href="/mywishlist/{{userSession.id}}">My Wishlist (
								<span id="span-wishListQuantity"></span>
								)</a>
						</li>
						<li>
							<p class="nav-text extra-padding">
								|
							</p>
						</li>
						<li class="nav-item">
							<a class="nav-link extra-padding" href="/mycart">My cart ( 
								<span id="span-cartQuantity"></span>
							 )</a>
						</li>
						<li>
							<p class="nav-text extra-padding">
								|
							</p>
						</li>
						<li class="nav-item">
							<a class="nav-link extra-padding" href="/logout">Logout</a>
						</li>

					{% else %}

						<li class="nav-item">
							<p class="nav-text extra-padding" href="/">&nbsp;Guest, &nbsp;please</p>
						</li>
						<li class="nav-item">
							<a class="nav-link extra-padding" href="/login">Login</a>
						</li>
						<li>
							<p class="nav-text extra-padding">
								or
							</p>
						</li>
						<li class="nav-item">
							<a class="nav-link extra-padding" href="/register">Sign up</a>
						</li>


					{% endif %}

				</ul>
			</div>
		</div>

		<!-- 1. Middle-top navbar -->
		<header>
			<div class="color-container mid-navbar">
				<div class="container mid-navbar">
					<a class="navbar-brand img-center mr-0 mr-md-2" href="/" aria-label="Bootstrap">
						<img src="\images\Game_Store_Logo.png" class="img-center"/>
					</a>
				</div>
			</div>
		</header>

		<!-- 2. Bottom-top navbar -->
		<div class="color-container bottom-navbar navbar-dark">
			<div class="container bottom-navbar">
				<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
					<li class="nav-item col-sm">
						<a class="nav-link extra-padding text-center" href="/category/nintendo">Nintendo</a>
					</li>
					<li class="nav-item col-sm">
						<a class="nav-link extra-padding text-center" href="/category/playstation">Play Station</a>
					</li>
					<li class="nav-item col-sm">
						<a class="nav-link extra-padding text-center" href="/category/xbox">X Box</a>
					</li>
					<li class="nav-item col-sm">
						<a class="nav-link extra-padding text-center" href="/category/pc">PC</a>
					</li>
					<li class="nav-item col-sm">
						<a class="nav-link extra-padding text-center" href="/underconstruction">Interchange</a>
					</li>
				</ul>
			</div>
		</div>

		{% block header %}{% endblock header %}

		<div class="body-content"> {% block content %}{% endblock content %}
			</div>

			{% block footer %}{% endblock footer %}


			<!-- 3. Top-footer navbar -->
			<div id="main-footer">
				<div class="site-footer color-container navbar-dark bottom-navbar">
					<div class="container navbar-dark bottom-navbar" id="footer">
						<div
							class="row footer-widgets">
							<!--<div class="col-3 widget widget_text" id="text-4">
																					<div class="content">
																						<div class="textwidget"><p>
																							<p><b>LINK PLACEHOLDERS</b><br>
																							<a href="/">All Games</a><br>
																							<a href="/">All Platforms</a><br>
																							<a href="/">Nintendo</a><br>
																							<a href="/">Play Station</a><br>
																							<a href="/">X Box</a><br>
																							<a href="/">PC</a><br>
																							<a href="/">Interchange</a><br>
																						</div>
																					</div>
																				</div>-->
							<div class="col-4 widget widget_text" id="text-5">
								<div class="content footer-div">
									<div class="textwidget">
										<p>
											<b>SEARCH GAMES</b><br>
											<a href="/" class="nav-link-footer">All Games</a><br>
											<a href="/category/all" class="nav-link-footer">All Platforms</a><br>
											<a href="/category/nintendo" class="nav-link-footer">Nintendo</a><br>
											<a href="/category/playstation" class="nav-link-footer">Play Station</a><br>
											<a href="/category/xbox" class="nav-link-footer">X Box</a><br>
											<a href="/category/pc" class="nav-link-footer">PC</a><br>
											<a href="/category/interchange" class="nav-link-footer">Interchange</a><br></p>
									</div>
								</div>
							</div>
							<div class="col-4 widget widget_text" id="text-6">
								<div class="content footer-div">
									<div class="textwidget">
										<p>
											<b>CONTACT US</b><br>
											Store 1: 123 Main St. H2E 2X1<br>
											Tel: 514.123.4567<br>
											Store 2: 258 Name St. H3E 1X2<br>
											Tel: 514.456.4567<br></p>
										<p>
											<b>GENERAL INFO</b><br>
											T: 514.987.6543<br>
											<a href="mailto:info@gamestore.ca" class="nav-link-footer">info@gamestore.ca</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col-4 widget widget_text" id="text-10">
								<div class="content footer-div">
									<div class="textwidget">
										<p>
											<b>FOLLOW US</b><br>
											<div class="col-2">
												<a href="https://www.facebook.com/">
													<i class="fab fa-facebook-square fa-2x"></i>
												</a>
											</div>
											<div class="col-2">
												<a href="https://twitter.com/">
													<i class="fab fa-twitter-square fa-2x"></i>
												</a>
											</div>
											<div class="col-2">
												<a href="https://www.instagram.com/">
													<i class="fab fa-instagram fa-2x"></i>
												</a>
											</div>
											<div class="col-2">
												<a href="https://www.youtube.com/">
													<i class="fab fa-youtube-square fa-2x"></i>
												</a>
											</p>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row color-container mid-navbar">
				<div class="center-elements mid-navbar">
					<a href="/"><img title="Game Store Logo" class="img-logo-footer" alt="Game Store Logo" src="/images/Game_Store_Logo.png"></a>
					<span class="text-bottom-footer">© 2020 Game Store Website | Made by:
						<a href="">Giovana de Moraes Ourique</a>
						&amp;
						<a href="">Saulo Carranza</a>
					</span>
				</div>
			</div>
		</body>
	</html>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js">
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript">
		function refreshWishListQuantity() {
			$.ajax({url: "/wishlist/getquantity", type: "GET", dataType: "json"}).done(function (count) {
				$("#span-wishListQuantity").html(count);
			}).fail(function (jqxhr) {
				alert("AJAX error: " + jqxhr.responseText);
			});
		}

		function refreshCartQuantity() {
			$.ajax({url: "/cart/getquantity", type: "GET", dataType: "json"}).done(function (count) {
				$("#span-cartQuantity").html(count);
			}).fail(function (jqxhr) {
				alert("AJAX error: " + jqxhr.responseText);
			});
		}

		function searchFromInput(){
			var keywordVal = $("#searchbarInput").val();
			window.location.href = "/search/" + keywordVal;
		}

		$(document).ready(function () {
			refreshWishListQuantity();
			refreshCartQuantity();
		});
	</script>
	{% block scriptbody %}{% endblock scriptbody %}
</body></html>
