{% extends "master.html.twig" %}

{% block title %}Placing order{% endblock %}

{% block content %}

<div class="extra-padding text-center">

    <div class="container">

        <h5 class="pt-3">Order Review: </h5>

        {% if errorsArray %}
            <ul class="errorMessage">
                {% for error in errorsArray %}
                    <li>{{ error}}</li>
                {% endfor %}
            </ul>
            
            <div id="success-message"><?php echo $successMessage; ?></div>

            <div id="error-message"></div>
        {% endif %}

        {% if totalNumberOfItems > 0 %}
            <div class="col-sm-6 col-md-12 p-5 order-review-div">
                <div class="form-container">
                    <label for="totalBeforeTax"><p>Total value before tax is:</p></label><span class="price-span">CAD {{ totalBeforeTax }}</span><br>
                    <label for="totalBeforeTax"><p>Shipping before tax is:</p></label><span class="price-span">CAD {{ shippingBeforeTax }}</span><br>
                    <label for="totalBeforeTax"><p>Taxes (GST/QST/HST):</p></label><span class="price-span">CAD {{ taxes }}</span><br>
                    <div class="grand-total-container">
                        <label for="totalBeforeTax" class="order-total"><p>Grand Total:</p></label><span class="price-span order-total">CAD {{ totalWithShippingAndTaxes }}</span><br>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-12 p-5 payment-review-div">
                <div class="container">
                {% if clientNotFound == true %}<span class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>Email must be registered to our website</span>{% endif %}
                <h5 class='pt-3 pb-3'>Please place your shipping information:</h5>
                    <div class="credit-form-container">        
                        <form method="post" enctype="multipart/form-data" id="payment-form">
                            <div class="form-row ">
                            <h6>Shipping Address &amp; User Information</h6>
                            <input type="text" name="name" class="form-control mb-3 StripeElement StripeElement--empty" placeholder="Name">
                            <input type="text" name="address" class="form-control mb-3 StripeElement StripeElement--empty" placeholder="Shipping Address">
                            <input type="text" name="postalCode" class="form-control mb-3 StripeElement StripeElement--empty w-50" placeholder="Postal Code">
                            <input type="text" name="province" class="form-control mb-3 StripeElement StripeElement--empty w-50" placeholder="Province">
                            <input type="text" name="city" class="form-control mb-3 StripeElement StripeElement--empty w-50" placeholder="City">
                            <input type="text" name="country" class="form-control mb-3 StripeElement StripeElement--empty w-50" placeholder="Country">
                            <input type="email" name="email" class="form-control mb-3 StripeElement StripeElement--empty" placeholder="Email Address">
                            <input type="text" name="phone" class="form-control mb-3 StripeElement StripeElement--empty" placeholder="Phone Number">
                            <div class="mb-3 w-50 text-left">
                                <input type="radio" name="deliveryMethod" id="methodDelivery" class="mb-3 mt-1 ml-0" value="Delivery" checked>
                                <label for="methodDelivery" class="text-left">Delivery</label>
                            </div>
                            <div class="mb-3 w-50 text-left">
                                <input type="radio" name="deliveryMethod" id="methodPickUp" class="mb-3 mt-1" value="PickUp">
                                <label for="methodPickUp" class="text-left">Pick Up</label>
                            </div>
                            <h6>Credit Card Information</h6>
                            <input type="text" name="cardName" class="form-control mb-3 StripeElement StripeElement--empty" placeholder="Name on card">
                            <input type="text" name="cardAddress" class="form-control mb-3 StripeElement StripeElement--empty" placeholder="Address">
                            <input type="text" name="cardPostalCode" class="form-control mb-3 StripeElement StripeElement--empty w-50" placeholder="Postal Code">
                            <input type="text" name="cardProvince" class="form-control mb-3 StripeElement StripeElement--empty w-50" placeholder="Province">
                            <input type="text" name="cardCity" class="form-control mb-3 StripeElement StripeElement--empty w-50" placeholder="City">
                            <input type="text" name="cardCountry" class="form-control mb-3 StripeElement StripeElement--empty w-50" placeholder="Country">                        
                                <div id="card-element" class="form-control"> <!--Form control is to show the form in bootstrap // In this case, if not it could disappear-->
                                <!-- a Stripe Element will be inserted here. -->
                                </div>

                                <!-- Used to display form errors -->
                                <div id="card-errors" role="alert"></div>
                            </div>

                            <button class="btn btn-dark btn-block mt-4">Submit Order</button>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
    
            <div class="col-12 text-center p-5">
                <p>Our princess is in another castle... with the products that once were on your cart!</p>
                <p>There is nothing to show here, you don't have any items in your order anymore.</p>
                <p>But don't worry Mario, go and check our awesome <a href="/">products</a>!</p>
                <img class="center-elements pt-5 pb-3" src="/images/princess_another_castle.jpg"/>
            </div>

        {% endif %}
    </div>
</div>

{% endblock %}

{% block scriptbody %}

  <!--Stripe: -->
  <script src="https://js.stripe.com/v3/"></script>
  <!--External JS Files: -->
  <script src="./js/charge.js"></script>

{% endblock scriptbody %}