{% extends "master.html.twig" %}

{% block title %}Transaction Completed - Thank you!
{% endblock %}

{% block content %}

	<div class="container mt-4 text-center">
		<h2>Thank you for purchasing
			{{ product }}</h2>
		<hr>
		<p>Your transaction ID is
			{{ tid }}</p>
		<p>Check your email for more info</p>
		<a href="/" class="btn btn-dark">Go Home</a>
	</div>

{% endblock content %}
