{% extends "master.html.twig" %}

{% block title %}Orders
{% endblock %}

{% block head %}{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2 class="my-5">Your Orders!</h2>
	</div>
{% endblock %}

{% block content %}

	<div class="container pt-4">

		{% for product in orderList %}
			<div class="row my-3 mx-5 border">

				<div class="col-md-4 my-auto mx-auto">
					<div class="container py-auto text-center">
						<img class="mx-auto my-4 d-block" width="140px" src="/{{product.picture}}" alt="Product image"/>
					</div>
				</div>

				<div class="col-md-4 my-auto mx-auto text-center">
					<div class="container text-center pt-2">
						<a href="/product/{{ product.productId }}">
							<h4>{{ product.productName}}</h4>
						</a>
						<h5>{{ product.unitPrice}}CAD</h5>
					</div>
					<div class="container text-center pt-2">
						<div class="container text-center" style="min-height:35px;">
							<span id="span-cart-{{ product.productId }}" style="display:none;">Hello</span>
						</div>
						<button class="btn btn-dark text-center mt-3" id="addToCart{{ product.id }}" name="bt-addToCart">Buy again!</button>
						<input name="productId" value="{{ product.productId }}" hidden>
						<input name="unitPrice" value="{{ product.unitPrice }}" hidden>
						<!--Only to get the product id into AJAX-->
					</div>
					<div class="container text-center pt-2">
						<a href="/review/write/{{ product.productId }}">Write a review!
						</a>
					</div>
				</div>

				<div class="col-md-4 my-auto mx-auto">
					<p>Order No.
						{{ product.orderId }}</p>
					<p>Placed on
						{{ product.orderDate }}</p>
					<p>Total Paid:
						{{ product.totalPaid }}</p>
					<p>Sent to
						{{ product.userName }}</p>
					<h5 class="text-center">
						{{ product.status }}
					</h5>
				</div>

			</div>
		{% endfor %}

		<div class="row my-5 justify-content-md-center">
			<h5>Need to return a product?
				<a href='#'>Contact Us</a>
			</h5>
		</div>
	</div>
{% endblock %}

{% block scriptbody %}

	<script type="text/javascript">

		$(document).ready(function () {

			$("button[name='bt-addToCart']").click(function () { // var productId = $("input[name=productId]").val();
				var productId = $(this).next().val();
				var unitPrice = $(this).next().next().val();
				var quantity = "1"; // order one copy of the product. modification will be handle in 'my cart' page
				$.ajax({
					url: "/cart/add/" + productId + "/" + quantity + "/" + unitPrice,
					type: "POST",
					dataType: "json"
				}).done(function (result) {
					$("#span-cart-" + productId).html(result);
					$("#span-cart-" + productId).show(300).delay(2000).fadeOut("slow");
				}).fail(function (jqxhr) {
					alert("AJAX error: " + jqxhr.responseText);
				}).always(function () {
					refreshCartQuantity();
				})
			});

		});
	</script>

{% endblock scriptbody %}
