{% extends "master.html.twig" %}

{% block title %}Password reset - Not found
{% endblock %}

{% block head %}{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2 class="my-5">Password reset - not found!</h2>
	</div>
{% endblock %}

{% block content %}

	<div class="container text-center pt-3">
		<p>Password reset token not found or not valid (expired).</p>
		<p>
			<a href="/passreset_request">Request a new link to reset your password</a>
		</p>
		<p>
			<a href="/register">Register new account</a>
		</p>
	</div>
{% endblock %}
