{% extends "master.html.twig" %}

{% block title %}Reset password sent
{% endblock %}

{% block head %}{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2 class="my-5">Reset password sent!</h2>
	</div>
{% endblock %}

{% block content %}

	<div class="container text-center pt-3">
		<p>Password reset has been sent (if an account with this email exists). Check your email in a moment.</p>
		<p>
			<a href="/">Click to continue</a>
		</p>
	</div>
	<div class="container text-center pt-3">
		<h4>Didn't receive the email?</h4>
		<p>Please check your spam folder</p>
		<p>Click<a href="/passreset_request"> here</a> to resend the email</p>
	</div>
	<div class="container text-center pt-3">
		<h5>Still having trouble?</h4>
		<p>
			<a href="/contactus">Contact us</a>
		</p>
	</div>
{% endblock %}
