{% extends "master.html.twig" %}

{% block title %}Password reset successful
{% endblock %}

{% block head %}{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2 class="my-5">Password reset successful!</h2>
	</div>
{% endblock %}

{% block content %}

	<div class="container text-center pt-3">
		<p>
			<a href="/login">Click here to login</a>
		</p>
	</div>
{% endblock %}
