{% extends "master.html.twig" %}

{% block title %}
	Password reset
{% endblock title %}

{% block head %}{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2 class="my-5">Reset your password!</h2>
	</div>
{% endblock %}

{% block content %}

	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-md-6">
				<form method="post" autocomplete="off">
					<div class="form-group col">
						<label for="pass1">Enter your password</label>
						{% if wrongPassword %}
							<span class="errorMessage">
								<i class="fas fa-exclamation-circle fa-sm"></i>Wrong password!</span>
						{% endif %}
						<input type="password" class="form-control" name="password" placeholder="Enter your password">
					</div>
					<div class="form-group col">
						<label for="pass1">New password</label>
						{% if passQuality %}
							<span class="errorMessage">
								<i class="fas fa-exclamation-circle fa-sm"></i>
								{{ passQuality }}</span>
						{% endif %}
						<input type="password" class="form-control" name="newPass1" placeholder="New password">
					</div>
					<div class="form-group col">
						<label for="pass2">New password(repeat)</label>
						{% if noMatch %}
							<span class="errorMessage">
								<i class="fas fa-exclamation-circle fa-sm"></i>Passwords don't match</span>
						{% endif %}
						<input type="password" class="form-control" name="newPass2" placeholder="New password(repeat)">
					</div>
					<div class="text-center">
						<button text-center type="submit" class="btn btn-dark px-md-5 m-md-2">Change password!</button>
					</div>
				</form>
				<div class="text-center my-5">
					<p>
						<a href="/register">Register!</a>
					</p>
					<p>
						<a href="/passreset_request">Forgot password?</a>
					</p>
				</div>

			</div>
		</div>

	</div>
{% endblock %}
