{% extends "master.html.twig" %}

{% block title %}
	Password reset request
{% endblock title %}

{% block head %}{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2 class="my-5">Forgot password?</h3>
	</div>
{% endblock %}

{% block content %}

	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-md-6">
				<form method="post" autocomplete="off">
					<div class="form-group col">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" placeholder="Enter email">
					</div>
					<div class="text-center">
						<button text-center type="submit" class="btn btn-dark px-md-5 m-md-2">Send password reset email!</button>
					</div>
				</form>
				<div class="text-center my-5">
					<p>
						<a href="/register">Register!</a>
					</p>
				</div>
			</div>
		</div>
	{% endblock %}
