{% extends "master.html.twig" %}

{% block head %}
    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock head %}

{% block title %}Product Page{% endblock %}

{% block content %}

<div class="extra-padding text-center">

    <div class="container">
        <div class="row product-info-div">
            <div class="col-sm-5">
                <div class="product-title-div">
                    <h4>{{ product.name }}</h4>
                </div>
                <div class="product-gen-info-div">
                    <div class="product-gen-info-picture1-div">
                        <img class="product-gen-info-picture1" alt="{{ product.name }} Picture 1" src="/{{ product.picture1 }}"/>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm col-6">
                                <h5>Price: </h5>
                            </div>
                            <div class="col-sm col-6">
                                <p>{{ product.unitPrice }} CAD</p>      
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm col-6">
                                <button class="btn btn-dark" id="bt-wishlist" >Add to Wishlist</button>
                            </div>
                            <div class="col-sm col-6">
                                <button class="btn btn-dark" id="bt-cart" >Add to Cart</button>
                                <input name="productId" value="{{ product.id }}" hidden><!--Only to get the product id into AJAX-->
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-sm col-6 pt-2" id="span-wishlist">Product added to wishlist!</span>
                            <span class="col-sm col-6 pt-2" id="span-cart">Product added to cart!</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="product-description-div pr-5">
                    <p>{{ product.description }}</p>
                </div>
                <div class="product-details-div">
                    <div class="row">
                        <div class="col-3"><h5>Game Genre: </h5></div>
                        <div class="col-4"><p>{{ product.game_genre }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-3"><h5>Developer: </h5></div>
                        <div class="col-4"><p>{{ product.developer }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-3"><h5>Platform: </h5></div>
                        <div class="col-4"><p>{{ product.platform }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-3"><h5>Release Date: </h5></div>
                        <div class="col-4"><p>{{ product.releaseDate }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-3"><h5>Rating: </h5></div>
                        <div class="col-4">
                            {% if productRatings == 0 %}
                                <p>Not rated yet</p>
                            {% elseif productRatings == 5 %}
                                {% for i in 0..4 %}
                                    <i class="fa fa-star fa-lg" style="color:#deab3c"></i>
                                {% endfor %}
                            {% else %}
                                {% for i in 0..productRatings|round(0, 'floor')-1 %}
                                    <i class="fa fa-star fa-lg" style="color:#deab3c"></i>
                                {% endfor %}
                                {% if productRatings != productRatings|round(0, 'floor')%}
                                    <i class="fas fa-star-half-alt fa-lg" style="color:#deab3c"></i>
                                     {% if productRatings|round(0, 'ceil') != 5 %}
                                        {% for i in 0..5-(productRatings|round)-1 %}
                                            <i class="fa fa-star fa-lg" style="color:black"></i>
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {% for i in 0..productRatings-4 %}
                                        <i class="fa fa-star fa-lg" style="color:black"></i>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="images-carousel-div">
            <div class="images-carousel-div-int">
                <div class="col-12">
                
                    <div class="autoplay variable-width">
                        <div><img src="/{{ product.picture1}}" alt="{{ product.name }} Image 1"></div>
                        <div><img src="/{{ product.picture2}}" alt="{{ product.name }} Image 2"></div>
                        <div><img src="/{{ product.picture3}}" alt="{{ product.name }} Image 3"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="game-trailer-div">
            <div class="col-12">
            {% if product.video == false %}

                <div class="youtube-container-div">
                    <div class="youtube-container">
                        <iframe width="560" height="315" src="{{ product.url }}" modesbranding="1" picture-in-picture allowfullscreen frameborder="0" encrypted-media></iframe>
                    </div>
                </div>

            {% else %}

                <div class="youtube-container-div">
                    <div class="video-container">
                        <video class="product-video" loop controls muted poster="">
                            <source src="/{{ product.video }}#t=1.0" type="video/mp4"/>
                        </video>
                    </div>
                </div>

            {% endif %}
            </div>
        </div>

        {% if userSession %}

        <div class="insert-comment-div">
        <div class="color-container">
            <div class="col-12">
                <h5 class="text-left pt-3">Did you play it? Rate the game!</h5>

                <div class="container bootstrap snippet">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-comment">

                <div class="comment-form-div pt-3">
                    <form method="post" class="no-border form-no-margin">
                        <div class="row">
                            
                            <div class='col-7' >
                                {% if messages.content == true  %}<p class="col-sm col-6 pt-2 errorMessage"><i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.content }}</p>{% endif %}
                                {% if reviewSent  %}<span class="col-sm col-6 pt-2">Thank you for your review!</span>{% endif %}
                                <textarea class='comment-box-text p-2' placeholder="Leave a comment" rows="5" cols="60" name='content' id='content' value={{ v.content }}></textarea></br> <!--FIXME. ALignement changed because of padding p-2-->
                            </div>

                            <div class='col-3 text-left'>
                                <label for='comment' class="text-left" >My Rating: </label>
                                {% if messages.rating == true %}<p class="errorMessage"><i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.rating }}</p>{% endif %}
                                <input type="number "name="rating" value="" hidden>
                                <br>
                                <i class="post-star fa fa-star fa-lg" data-index="0"></i>
					            <i class="post-star fa fa-star fa-lg" data-index="1"></i>
					            <i class="post-star fa fa-star fa-lg" data-index="2"></i>
					            <i class="post-star fa fa-star fa-lg" data-index="3"></i>
					            <i class="post-star fa fa-star fa-lg" data-index="4"></i>
                                <br>                              
                                <input type="submit" value="Send!" class="btn btn-dark">
                            </div>
                        </div>
                    </form>
                </div>

                </div></div></div></div>

            </div>
        </div>
        </div>

        {% endif %}

        <div class="comments-div">
        <div class="color-container">
            <div class="col-12">
            <h5 class='text-left pt-3 pb-4'>Previous comments: </h5>

            {% if commentsList %}
                {% for comment in commentsList %}

                <div class="container bootstrap snippet">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-comment">
                                <ul class="comments">
                                <li class="clearfix">
                                <img src="{{ comment.authorPicture }}" class="avatar" alt="{{ comment.author }} profile picture">
                                <div class="post-comments">
                                    <p class="meta"><a href="#">{{ comment.author }}</a> said on {{ comment.date }} at {{ comment.time }} : <i class="pull-right"><a href="#"><small>Reply</small></a></i>
                                        <span class="text-right">
                                        {% for i in 0..comment.reviewRating-1 %}
                                            <i class="fa fa-star fa-lg" style="color:#deab3c"></i>
                                        {% endfor %}
                                        {% if comment.reviewRating != 5 %}
                                            {% for i in 0..comment.reviewRating-4 %}
                                                <i class="fa fa-star fa-lg" style="color:black"></i>
                                            {% endfor %}
                                        {% endif %}
                                        </span>
                                    </p>
                                    <p>
                                        <div class='comment'>{{ comment.productComment | raw }}</div> 
                                    </p>
                                </div>
                                </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>		 

                {% endfor %}    
            {% else %}

            <div class="col-12">
                <p class='text-left pt-3 pb-3 text-center'>No comments yet... do you have an opinion about this product? 
                Please {% if userSession == false %}<a href="/login">login</a> or <a href="/register">sign up</a> and {% endif %}leave your comment!</p>
            </div>

            {% endif %}
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scriptbody %}

    <!-- Slick -->
    <script type="text/javascript" src="/slick/slick.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function(){

            var productId = {{ product.id }};
            var unitPrice = {{ product.unitPrice }}
            var ratedIndex = -1;

            $("#span-wishlist").hide();
            $("#span-cart").hide();

            $('.variable-width').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                centerMode: true,
                variableWidth: true,
                autoplay: true, // for autoplay
                autoplaySpeed: 2000,
            });

            $("#bt-cart").click(function (){
                var quantity = "1"; // order one copy of the product. modification will be handle in 'my cart' page
                
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/cart/add/" + productId + "/" + quantity + "/" + unitPrice,
                    type: "POST",
                    dataType: "json"
                }).done(function (result) {
                    $("#span-cart").html(result);
                    $("#span-cart").show(300).delay(2000).fadeOut("slow");
                }).fail(function (jqxhr) {
                        alert("AJAX error: " + jqxhr.responseText); 
                }).always(function(){
                    refreshCartQuantity();
                })
            });


             $("#bt-wishlist").click(function (){
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/wishlist/add/" + productId,
                    type: "POST",
                    dataType: "json"
                }).done(function (result) {
                    $("#span-wishlist").html(result);
                    $("#span-wishlist").show(300).delay(2000).fadeOut("slow");
                }).fail(function (jqxhr) {
                        alert("AJAX error: " + jqxhr.responseText); 
                }).always(function () {
                    refreshWishListQuantity();
                });          
            });

            resetStarColors();

            $('.post-star').on('click', function () {
               ratedIndex = parseInt($(this).data('index'));
              $("input[name=rating]").val(ratedIndex+1);
            });

            $('.post-star').mouseover(function () {
                resetStarColors();
                var currentIndex = parseInt($(this).data('index'));
                setStars(currentIndex);
            });

            $('.post-star').mouseleave(function () {
                resetStarColors();
                if (ratedIndex != -1)
                    setStars(ratedIndex);
            });

            $('.product-video').mouseover(function(){
                $('.product-video').get(0).play();
            })

            // $('.product-video').mouseleave(function(){
            //     $('.product-video').get(0).pause();
            // })
        });

        function setStars(max) {
            for (var i=0; i <= max; i++)
                $('.post-star:eq('+i+')').css('color', '#deab3c');
        }

        function resetStarColors() {
            $('.post-star').css('color', 'black');
        }
    </script>

{% endblock scriptbody %}