{% extends "master.html.twig" %}

{% block title %}Confirmation Not found
{% endblock %}

{% block content %}

	<div class="container text-center pt-3">
		<h2>Confirmation not found!</h2>
		<p>Confirmation token not found or not valid (expired).</p>
		<p>
			<a href="/resendConfirmation">Resend confirmation link</a>
		</p>
		<p>
			<a href="/register">Register new account</a>
		</p>

		<!--<button onclick="location.href = '/register_resend_email_success';" id="confirmationBtn" class="btn btn-dark px-md-5 m-md-2" >Resend email</button>-->
	</div>
{% endblock %}

