{% extends "master.html.twig" %}

{% block title %}Home page
{% endblock %}

{% block head %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#avatarImage').attr('src', e.target.result).width(120).height(120);
				};
				reader.readAsDataURL(input.files[0]);
			}
		}
	</script>

{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2>Fill the form to register!</h3>
	</div>
{% endblock %}

{% block content %}

	{% if errorsArray %}
		<ul class="errorMessage">
			{% for error in errorsArray %}
				<li>{{ error}}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<div class="container pt-3">
		<form method="post" enctype="multipart/form-data" class="m-md-2">
			<div class="row">
				<div class="col-md-4">
					<img class="rounded-circle mx-auto my-4 d-block" width="120px" id="avatarImage" src="/uploads/default.png" alt="Avatar"/>
					<div class="custom-file">
						<input type="file" id="picture" name="picture" onchange="readURL(this);">
						<label class="custom-file-label" for="picture">Choose your own avatar</label>
						{% if messages.picture == true %}<span class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.picture }} </span>{% endif %}
					</div> 
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-7 pt-3">
					<div class="form-group">
						<label for="name">Username</label> 
						 {% if messages.username == true %}<span class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.username }} </span>{% endif %}				
						<input type="text" class="form-control" name="username" placeholder="Username" value="{{ v.username }}">
					</div>
					<div class="form-group">
						<label for="name">Name</label>
						 {% if messages.name == true %}<span class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.name }} </span>{% endif %}
						<input type="text" class="form-control" name="name" placeholder="First and Last Name" value="{{ v.name }}">
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						 {% if messages.email == true %}<span class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.email }} </span>{% endif %}
						<input type="email" class="form-control" name="email" placeholder="Enter email" value="{{ v.email }}">
					</div>
					<div class="form-group">
						<label for="password1">Password</label>
						{% if messages.password == true %}<span class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.password }} </span>{% endif %}
						<input type="password" class="form-control" name="password1" placeholder="Password">
					</div>
					<div class="form-group">
						<label for="password2">Repeat Password</label>
						{% if messages.noMatch == true %}<span class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.noMatch }} </span>{% endif %}
						<input type="password" class="form-control" name="password2" placeholder="Repeat Password">
					</div>
					<div class="form-group form-check">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
						<label class="form-check-label" for="defaultCheck1">
							Check me out
						</label>
					</div>
					<div class="text-center">
						<button text-center type="submit" class="btn btn-dark px-md-5 m-md-2">Register!</button>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
