{% extends "master.html.twig" %}

{% block title %}Confirm email
{% endblock %}

{% block content %}

	<div class="container text-center pt-3">

		{% if emailNotConfirmed %}
			<h2>You've already signed up for Game Store</h2>
		{% else %}
			<h2>You've successfully signed up for Game Store</h2>
		{% endif %}
		<p>Please check your inbox for a confirmation email. Click the link in the email to confirm your email address.</p>
		<!--<button onclick="location.href = '/register_confirmation';" id="confirmationBtn" class="btn btn-dark px-md-5 m-md-2" >Resend email</button>-->
	</div>
	<div class="container text-center pt-3">
		<h4>Didn't receive the email?</h4>
		<p>Please check your spam folder</p>
		<p>Click
			<a href="/resendConfirmation">here</a>
			to resend the email</p>
	</div>
	<div class="container text-center pt-3">
		<h4>Still having trouble?</h4>
		<p>
			<a href="/contactus">Contact us</a>
		</p>
	</div>
{% endblock %}
