{% extends "master.html.twig" %}

{% block title %}Confirmation Success
{% endblock %}

{% block content %}

	<div class="container text-center pt-3">
		<h2>Confirmation successful!</h2>
		<div class="row">		
				<p>
					<a href="/login">Click here to login</a>
				</p>
		</div>
	</div>
{% endblock %}
