{% extends "master.html.twig" %}

{% block title %}Resend confirmation
{% endblock %}

{% block content %}
	{% if emailNotFound %}
		<h2>Email not found.</h2>
		<p>Click<a href="/register">
				here</a>
			to register or re-enter a valid email to receive confirmation link</p>
	{% endif %}

	<div class="container text-center pt-3">
		<h2>Resend confirmation link</h2>
		<p>You must confirm you email to be able to sign in</p>
		<div class="row justify-content-md-center">
			<div class="col col-md-6">
				<form method="post" enctype="multipart/form-data" class="m-md-2 text-center">
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" placeholder="Enter email" value="{{ v.email }}">
					</div>
					<div class="text-center">
						<button text-center type="submit" class="btn btn-dark px-md-5 m-md-2">Send confirmation link!</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
