{% extends "master.html.twig" %}

{% block title %}
	Review a product
{% endblock title %}

{% block head %}{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2 class="my-5">Review this Product!</h3>
	</div>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-2 my-auto">
				<div class="container py-auto text-center">
					<img class="mx-auto my-4 d-block" width="100px" src="/{{product.picture1}}" alt="Product image"/>
				</div>
			</div>
			<div class="col-md-4">
				<div class="container">
					<a href="/product/{{ product.id }}">
						<h4>{{ product.name}}</h4>
					</a>
				</div>
				<div class="container mt-5">
					<p>Rate this game</p>
					{% if messages.rating == true %}
							<p class="errorMessage">
								<i class="fas fa-exclamation-circle fa-sm"></i>
								{{ messages.rating }}
							</p>
						{% endif %}
					<i class="fa fa-star fa-2x" data-index="0"></i>
					<i class="fa fa-star fa-2x" data-index="1"></i>
					<i class="fa fa-star fa-2x" data-index="2"></i>
					<i class="fa fa-star fa-2x" data-index="3"></i>
					<i class="fa fa-star fa-2x" data-index="4"></i>
				</div>
			</div>

		</div>

		<div class="row justify-content-md-center">
			<div class="col col-md-6">
				<form method="post" autocomplete="off">
					<div class="form-group">
						<label for="content">Write your review</label>
						{% if messages.content == true  %}
							<p class="errorMessage">
								<i class="fas fa-exclamation-circle fa-sm"></i>
								{{ messages.content }}
							</p>
						{% endif %}
						<textarea class="form-control" id="content" name="content" rows="3">{{ v.content}}</textarea>
						<input type="number "name="rating" value="" hidden>
					</div>
					<div class="text-center">
						<button text-center type="submit" class="btn btn-dark px-md-5 m-md-2">Submit my review!</button>
					</div>
				</form>
				<div class="text-center my-5">
					<p>
						<a href="/userprofile/{{ userSession.id }}">Back to my profile</a>
					</p>
				</div>
			</div>
		</div>
	{% endblock %}
	{% block scriptbody %}
    <script>
        var ratedIndex = -1;

        $(document).ready(function () {
            resetStarColors();

            $('.fa-star').on('click', function () {
               ratedIndex = parseInt($(this).data('index'));
              $("input[name=rating]").val(ratedIndex+1);
            });

            $('.fa-star').mouseover(function () {
                resetStarColors();
                var currentIndex = parseInt($(this).data('index'));
                setStars(currentIndex);
            });

            $('.fa-star').mouseleave(function () {
                resetStarColors();
                if (ratedIndex != -1)
                    setStars(ratedIndex);
            });
        });

        function setStars(max) {
            for (var i=0; i <= max; i++)
                $('.fa-star:eq('+i+')').css('color', '#deab3c');
        }

        function resetStarColors() {
            $('.fa-star').css('color', 'black');
        }
    </script>
{% endblock scriptbody %}

