{% extends "master.html.twig" %}

{% block title %}Review success
{% endblock %}

{% block head %}{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2 class="my-5">Review sent successfully!</h2>
	</div>
{% endblock %}

{% block content %}

	<div class="container text-center pt-3">
		<div class="row my-auto">
			<div class="col-md-4">
				<img class="mx-auto my-4 d-block" width="160px" src="/images/mario_ok.gif" alt="Ok"/>
			</div>
			<div class="col-md-4">
				<h5 class="my-4">Thank you for your review!</h5>
				<p>
					<a href="/">Go shopping</a>
				</p>
				<p>
					<a href="/userprofile/{{ userSession.id }}">Go my profile</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
