{% extends "master.html.twig" %}

{% block title %}Review not allowed
{% endblock %}

{% block head %}{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2 class="my-5">Review not allowed!</h2>
	</div>
{% endblock %}

{% block content %}

	<div class="container text-center pt-3">
		<div class="row my-auto">
			<div class="col-md-4">
				<img class="mx-auto my-4 d-block" width="160px" src="/images/pacman_ghost.gif" alt="Pacman"/>
			</div>
			<div class="col-md-4">
				<h5 class="my-4">You already reviewed this product!</h5>
				<p>
					If you want to change your review, you should delete the old one on  
					<a href="/myreviews/{{ userSession.id }}">"Your Reviews!"</a>
				</p>
				<p>
					<a href="/">Go shopping</a>
				</p>
				<p>
					<a href="/userprofile/{{ userSession.id }}">Go to my profile</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
