{% extends "master.html.twig" %}

{% block title %}Reviews
{% endblock %}

{% block head %}{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2 class="my-5">Your Reviews!</h2>
	</div>
{% endblock %}

{% block content %}
	<div class="container pt-4">
		{% for review in reviewList %}
			<div class="row my-3 mx-5 border">

				<div class="col-md-4 my-auto mx-auto">
					<div class="container py-auto text-center">
						<img class="mx-auto my-4 d-block" width="140px" src="/{{review.productPicture}}" alt="Product image"/>
					</div>
				</div>

				<div class="col-md-5 my-auto mx-auto text-center">
					<a href="/product/{{ review.productId }}">
						<h5 class="mb-3">{{ review.productName}}</h5>
					</a>
					<span class="mb-3">
						{% for i in 0..review.rating-1 %}
							<i class="fa fa-star fa-lg" style="color:#deab3c"></i>
						{% endfor %}
						{% if review.rating != 5 %}
							{% for i in 0..review.rating-4 %}
								<i class="fa fa-star fa-lg" style="color:black"></i>
							{% endfor %}
						{% endif %}
					</span>
					<p>
						<small>Posted on {{ review.date }}at {{ review.time }}</small>
					</p>
					<div class='comment'>{{ review.content | raw }}</div>
				</div>

				<div class="col-md-3 my-auto mx-auto text-center">
					<a href="/myreviews/{{ userSession.id}}/delete/{{ review.reviewId }}">Delete this review!</a>
				</div>
			</div>
		{% endfor %}
		<div class="row my-5 justify-content-md-center">
			<h5>Have any question about your reviews?
				<a href='#'>Contact Us</a>
			</h5>
		</div>
	</div>

{% endblock %}
