{% extends "master.html.twig" %}

{% block title %}Game Store
{% endblock title %}

{% block head %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		$("#main-div").load("/ajax/indexpage/");
        }

        $(document).ready(function () {
            loadProductPage(currentPage);
        });

        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
	</script>
{% endblock head %}

{% block content %}

	<!-- ALL GAMES -->
	<div id="All-Games-div">

		<div class="container clearfix">
			<div class="row-container" id="Top-Games">

				{% if productList %}

					<h3>ALL PRODUCTS RELATED TO:
						{{ keyword }}</h3>
					<div class="row-container border-0" id="Top-Games">

						{% for product in productList %}
							<div class="col-md-4" style="float:left">
								<div class="card mb-2">
									<div class="image-body-div">
										<img class="card-img-car" src="/{{ product.picture1 }}" alt="Card image cap">
									</div>

									<div class="card-body">
										<h4 class="card-title">{{ product.name }}</h4>
										<p class="card-text">{{ product.description }}</p>
										<div class="row">
											<div class="col-7 my-auto">
												<div class="text-center">
													<div class="rating-stars">
														{% if product.averageRating == 0 %}
															<span>Not rated yet</span>
														{% elseif product.averageRating == 5 %}
															{% for i in 0..4 %}
																<i class="fas fa-star fa-lg" style="color:#deab3c"></i>
															{% endfor %}
														{% else %}
															{% for i in 0..product.averageRating|round(0, 'floor')-1 %}
																<i class="fa fa-star fa-lg" style="color:#deab3c"></i>
															{% endfor %}
															{% if product.averageRating !=product.averageRating|round(0, 'floor')%}
																<i class="fas fa-star-half-alt fa-lg" style="color:#deab3c"></i>
																{% if product.averageRating|round(0, 'ceil') != 5 %}
																	{% for i in 0..5-(product.averageRating|round)-1 %}
																		<i class="fa fa-star fa-lg" style="color:black"></i>
																	{% endfor %}
																{% endif %}
															{% else %}
																{% for i in 0..product.averageRating-4 %}
																	<i class="fa fa-star fa-lg" style="color:black"></i>
																{% endfor %}
															{% endif %}
														{% endif %}
													</div>
												</div>
											</div>
											<div class="col-5">
												<a class="btn btn-primary" href="/product/{{ product.productId }}">More info</a>
											</div>
										</div>
									</div>
								</div>
							</div>

						{% endfor %}

					</div>
				{% else %}

					<div class="col-12 text-center pt-5">
						<h5>Product Not Found</h5>
						<p>Sorry, there is nothing to show here, no results for your request...</p>
						<p>But Master Kenobi, are you sure you spelled it correctly?</p>
						<p>If that's not the problem, please check another of our awesome
							<a href="/">products</a>!</p>

					</div>
					<div class="col-12 text-center">
						<img class="center-elements pt-5 pb-3" id="kenobierror" src="/images/nofound.jpg"/>
					</div>

				{% endif %}
			</div>
		</div>

	</div>
	<!-- End of TOP GAMES -->

{% endblock content %}
