{% extends "master.html.twig" %}

{% block title %}User Profile
{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#avatarImage').attr('src', e.target.result).width(120).height(120);
				};
				reader.readAsDataURL(input.files[0]);
			}
		}
	</script>
{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2 class="my-5">Your Profile!</h2>
	</div>
{% endblock %}

{% block content %}
	<div class="container extra-padding">

		<div class="row">
			<div class="col-md-4">
				<div class="card" style=" height: 10rem;">
					<div class="card card-body">
						<div class="row">
							<div class="col-md-2">
								<img class="mx-auto my-4 d-block" width="80px" src="/images/orders.png">
							</div>
							<div class="col-md-10 my-auto ml-auto">
								<h5 class="card-title pl-4">
									<a href="/myorders/{{userSession.id}}">Your Orders!</a>
								</h5>
								<p class="card-text pl-4">Track your orders</p>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card" style=" height: 10rem;">
					<div class="card card-body">
						<div class="row">
							<div class="col-md-2">
								<img class="mx-auto my-4 d-block" width="80px" src="/images/whishlist2.png">
							</div>
							<div class="col-md-10 my-auto mx-auto">
								<h5 class="card-title pl-4">
									<a href="/mywishlist/{{userSession.id}}">Your Wishlist!</a>
								</h5>
								<p class="card-text pl-4">Make your wishes come true</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card" style=" height: 10rem;">
					<div class="card card-body">
						<div class="row">
							<div class="col-md-2">
								<img class="mx-auto my-4 d-block" width="80px" src="/images/star.png">
							</div>
							<div class="col-md-10 my-auto mx-auto">
								<h5 class="card-title pl-4">
									<a href="/myreviews/{{userSession.id}}">Your Reviews!</a>
								</h5>
								<p class="card-text pl-4">Review our products</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="card my-3">
			<div class="card-header">
				<div class="row">
					<div class="col-md-2">
						<img class="mx-auto my-4 d-block" width="80px" src="/images/account2.png">
					</div>
					<div class="col-md-6 mx-auto my-auto">
						<a data-toggle="collapse" href="#collapseLogin" aria-expanded="false" aria-controls="collapseExample">
							<h5 class="card-title">Login and Security!!!</h5>
						</a>
						<h6 class="card-subtitle mb-2 text-muted">Edit login, name, avatar and password</h6>
					</div>
					<div class="col-md-4 my-auto text-center">
					{% if profileUpdated %}<span>Profile updated successfully!</span>{% endif %}
					{% if messages.picture == true %}<p class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.picture }} </p>{% endif %}
					{% if messages.username == true %}<p class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.username }} </p>{% endif %}
					{% if messages.name == true %}<p class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.name }} </p>{% endif %}
					{% if messages.email == true %}<p class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.email }} </p>{% endif %}
					</div>

				</div>
			</div>

			<div class="card card-body collapse" id="collapseLogin">
				<form method="post" enctype="multipart/form-data" class="m-md-2" name="loginForm">
					<div class="row">
						<div class="col-md-4">
							<img class="rounded-circle mx-auto my-3 d-block" width="120px" id="avatarImage" src="{{user.picturePath}}" alt="Avatar"/>
							<div class="custom-file">
								<input type="file" id="picture" name="picture" onchange="readURL(this);">
								<label class="custom-file-label" for="picture">Change your avatar!</label>
								
							</div>
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-7 pt-3">
							<div class="form-group row">
								<label class="col-sm-2 col-form-label" for="name">Username</label>
								
								<div class="col-sm-10"><input type="text" class="form-control" name="username" value="{{user.username }}"></div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label" for="name">Name</label>
								
								<div class="col-sm-10"><input type="text" class="form-control" name="name" value="{{user.name }}"></div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label" for="email">Email</label>
								
								<div class="col-sm-10"><input type="email" class="form-control" name="email" placeholder="Enter email" value="{{ user.email }}"{% if user.provider == false %} readonly{% endif %}></div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-md-5"></div>
						<div class="col-md-3">
							<input name="changes" value="changesLogin" hidden>
							<button text-center type="submit" class="btn btn-dark px-md-5 m-md-2" value="changeLogin" name="changeLogin">Save Changes!</button>
						</div>
						{% if provider %}
							<div class="col-md-3"></div>
						{% else %}
							<div class="col-md-3">
								<a href="/internpassresetaction/{{ user.id }}" class="btn btn-dark px-md-5 m-md-2" style="background-color:#DB4437;">Change password!</a>
							</div>
						{% endif %}
					</div>
				</form>
			</div>
		</div>

		<div class="card my-3">
			<div class="card-header">
				<div class="row">
					<div class="col-md-2">
						<img class="mx-auto my-4 d-block" width="80px" src="/images/address2.png">
					</div>
					<div class="col-md-6 mx-auto my-auto">
						<a data-toggle="collapse" href="#collapseAddress" aria-expanded="false" aria-controls="collapseExample">
							<h5 class="card-title">Address!!!</h5>
						</a>
						<h6 class="card-subtitle mb-2 text-muted">Edit your phone and address</h6>
					</div>
					<div class="col-md-4 my-auto text-center">
					{% if addressUpdated %}<span>Address updated successfully!</span>{% endif %}
					{% if messages.address == true %}<p class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.address }} </p>{% endif %}
					{% if messages.apartment == true %}<p class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.apartment }} </p>{% endif %}
					{% if messages.city == true %}<p class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.city }} </p>{% endif %}
					{% if messages.phoneNo == true %}<p class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.phoneNo }} </p>{% endif %}
					{% if messages.zipCode == true %}<p class="errorMessage">  <i class="fas fa-exclamation-circle fa-sm"></i>{{ messages.zipCode }} </p>{% endif %}
					</div>
				</div>
			</div>
			<div class="card card-body collapse" id="collapseAddress">
				<form method="post" class="m-md-2" name="addressForm">
					<div class="form-group row">
						<label class="col-sm-1" for="address">Address</label>
						
						<div class="col-sm-6"><input type="text" class="form-control" name="address" placeholder="123 Main St" value="{{ user.address }}"></div>
						<label class="col-sm-1" for="apartment">Apart#</label>
						
						<div class="col-sm-4"><input type="text" class="form-control" name="apartment" placeholder="Apt" value="{{ user.apartment }}"></div>
					</div>
					<div class="form-group row">
						<label class="col-sm-1" class="col-sm-2" for="city">City</label>
						
						<div class="col-sm-6"><input type="text" class="form-control" name="city" placeholder="Your city" value="{{ user.city }}"></div>
						<label class="col-sm-1" for="province">Province</label>
						<div class="col-sm-4">
							<select id="province" name="province" class="form-control">
								<option>AB</option>
								<option>MB</option>
								<option>NB</option>
								<option>NL</option>
								<option>NT</option>
								<option>NS</option>
								<option>NU</option>
								<option>ON</option>
								<option>PE</option>
								<option selected>QC</option>
								<option>SK</option>
								<option>YT</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-1" for="phoneNo">Phone</label>
						
						<div class="col-sm-6"><input type="text" class="form-control" name="phoneNo" placeholder="XXX-XXX-XXXX" value="{{ user.phoneNo }}"></div>
						<label class="col-sm-1" for="zipCode">Zip Code</label>
						
						<div class="col-sm-4"><input type="text" class="form-control" name="zipCode" placeholder="XXX XXX" value="{{ user.zipCode }}"></div>

					</div>
					<div class="row">
						<div class="col-md-5"></div>
						<div class="col-md-3">
							<input name="changes" value="changesAddress" hidden>
							<button text-center type="submit" class="btn btn-dark px-md-5 m-md-2" value="changeAddress" name="changeAddress">Save Address!</button>
						</div>
					</div>

				</form>
			</div>

		</div>
	</div>
{% endblock %}
{% block scriptbody %}

{% endblock scriptbody %}
