{% extends "master.html.twig" %}

{% block title %}Wishlist
{% endblock %}

{% block head %}{% endblock %}

{% block header %}
	<div class="container text-center pt-3">
		<h2 class="my-5">Your Wishlist!</h2>
	</div>
{% endblock %}

{% block content %}

	<div class="container pt-4">

		{% for product in wishlist %}
			<div class="row my-3 mx-5 border">
				<div class="col-md-4 my-auto mx-auto">
					<div class="container py-auto text-center">
						<img class="mx-auto my-4 d-block" width="140px" src="/{{product.picture}}" alt="Product image"/>
					</div>
				</div>

				<div class="col-md-4 my-auto mx-auto text-center">
					<a href="/product/{{ product.id }}">
						<h4>{{ product.name}}</h4>
					</a>
					<p>{{ product.category}}</p>
					<h5>{{ product.unitPrice}}CAD</h5>
				</div>

				<div class="col-md-4 my-auto mx-auto text-center">
					<div class="row pt-2">
						<button class="btn btn-dark" id="addToCart{{ product.id }}" name="bt-addToCart">Add to Cart</button>
						<input name="productId" value="{{ product.id }}" hidden>
						<input name="unitPrice" value="{{ product.unitPrice }}" hidden>
						<!--Only to get the product id into AJAX-->
					</div>
					<div class="row pt-2" style="min-height:35px;">
						<span id="span-cart-{{ product.id }}" style="display:none;">Hello</span>
					</div>
					<div class="row pt-2">
						<a href="/mywishlist/{{userSession.id}}/delete/{{ product.id }}" class="btn btn-dark" role="button">Delete item</a>
					</div>
				</div>

			</div>
		{% endfor %}

	</div>
{% endblock %}
{% block scriptbody %}

	<script type="text/javascript">

		$(document).ready(function () {

			$("button[name='bt-addToCart']").click(function () { // var productId = $("input[name=productId]").val();
				var productId = $(this).next().val();
				var unitPrice = $(this).next().next().val();
				var quantity = "1"; // order one copy of the product. modification will be handle in 'my cart' page

				$.ajax({
					url: "/cart/add/" + productId + "/" + quantity + "/" + unitPrice,
					type: "POST",
					dataType: "json"
				}).done(function (result) {
					$("#span-cart-" + productId).html(result);
					$("#span-cart-" + productId).show(300).delay(2000).fadeOut("slow");
				}).fail(function (jqxhr) {
					alert("AJAX error: " + jqxhr.responseText);					
				}).always(function () {
					refreshCartQuantity();
				})
			});

		});
	</script>
{% endblock scriptbody %}
