@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background: #ededed;
    font-family: 'Dosis', sans-serif;;
    font-size: 1em;
}

.top-navbar{
    background: black;
}

.mid-navbar{
    background: darkgrey;
}

.bottom-navbar{
    background: black;
}

#main-footer{
    padding-top: 10px;
    background: black;
}

.footer-div .nav-link-footer, .nav-text{
    color: rgba(255,255,255,.5);
}

.footer-div a:link, .footer-div a:visited, .footer-div a:active {
    color: rgba(255,255,255,.5);
}   

.footer-div a:hover{
    color: lightgrey;
    text-decoration: none;
} 

.footer-div b{
    color: lightgrey;
}

.footer-div p{
    color: grey;
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.extra-padding{
    padding-top: .5rem;
}

.left-margin-sm{
    margin-left:1em;
}

.left-margin-md{
    margin-left:2em;
}

.width-lang{
    width: 100px;
}

.img-logo-footer{
    height: 35px;
}

.text-bottom-footer{
    float:right;
    padding-top: 5px;
}

.center-elements{
    margin: 0 auto;
}

.row-container{
    margin-top: 10px;
    margin-bottom: 50px;
}

.right-text{
    text-align:right;
    padding-left: 220px;
}

.user-profile-picture-div{
    width: 30px;
    height: 30px;
    border: 1px solid white;
}

.user-profile-picture-div img{
    max-width: 28px;
    max-height: 28px;
}

#Top-Games-div{
    /* border: 5px solid blue;  */
    margin-top: 50px;
    height: 500px;
}

#Best-Seller-Games-div{
    /* border: 5px solid red;  */
    height: 500px;
}

#Upcoming-Games-div{
    /* border: 5px solid pink;  */
    height: 600px;
}

#Platform-Platform-div{
    /* border: 5px solid violet;  */
    height: 250px;
}

#More-Upcoming-Games-div{
    /* border: 5px solid red;  */
    height: 330px;
}

.platform-body{
    padding-top: 10px;
}

#Banner-div{
    /* border: 5px solid green;  */
    height: 250px;
}

.row-banner img{
    margin: 0;
    padding: 0;
    width: 1100px;
}

.img-container{
    height: 200px;
}

.img-container img{
    height: 100%;
    width: auto;
}

.index-image-container-adj{
    height: 210px;
}

.index-image-container-adj img{
    /* width: 150px; */
    max-height: 200px;
    width: auto;
    max-width: 180px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.index-img-prod {
    /* max-height: 100 !important;  */
    max-width: 100;
    padding-top: 1.25rem;
}

.rating-container{
    background-color: #e0c56e;
    border-radius: 5%;
    border: 5px solid black;
    margin: 1.5rem;
}

.rating-container-adj{
    background-color: #e0c56e;
    border-radius: 5%;
    border: 5px solid black;
    margin: 1rem;
}

.rating-gold{
    background-color: #e0c56e;
}

.rating-silver{
    background-color: #d5d5d7;
}

.rating-bronze{
    background-color: #d7995b;
}

.rating-container .rating-num{
    font-size: 2em;
}

.rating-stars{
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#Best-Seller-Games h3, #Top-Games h3, #Upcoming-Games h3, #Platfoms-Plaforms h3{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    margin-left: 0.8em;
}

.video-header-bgd{
    background-color: black;
    /* border:2px solid white; */
    height: 220px;
}

.video-header{
    /* background-color: black; */
    /* border:2px solid white; */
    height: 220px;
    background: url('/product_pictures/AC_Valhalla/AC_Back.png') top center transparent;
    background-repeat: no-repeat;
    background-size: auto 170px;
    background-position-y: 20px;
}

/* .img-background-container{
    position: relative;
    width: 100%;
    height: 0;
} */

.img-background-container img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}

video{
    height: 200px;
}

.index-promo-color{
    /* color: #fde289; */
    color: darkgrey;
}

.upload-media{
    margin-bottom: 30px;
}

.form-group .form-textarea{
    height: 230px;
}

.image-body-div{
    height: 200px;
}

.card-img-car{
    max-height: 200px;
    max-width: 200px;
    flex-shrink: 0;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
}

.card-body{
    min-height: 280px;
}

#More-Upcoming-Games .card-upcoming{
    height: 165px;
    /* border: solid 5px pink; */
}

#More-Upcoming-Games h6{
    padding-top:0;
    margin-bottom: 0;
}

#More-Upcoming-Games .index-image-container-adj{
    height: 125px;
    /* border: solid 5px green; */
}

.row-card-container{
    height: 130px;
    /* border: solid 5px green; */
}

.card-text-date{
    display: inline-block;
    text-align: center;
}

/* #More-Upcoming-Games .cart-text{
    margin:0;
    padding:0;
} */

/* #More-Upcoming-Games small{
    font-size: 0.8em;    
    margin:0;
    padding:0;
} */

.margin-top-indicators{
    position: relative;
}

.last-row{
    height: 450px;
}

.index-img-logo{
    width: 250px;
}


/*====== Product Page =====*/
.product-info-div{
    /* border: solid 5px pink; */
    min-height: 600px;
    padding-top: 50px;
}

.images-carousel-div{
    /* border: solid 5px fuchsia; */
    height: 350px;
}

.images-carousel-div-int{
    /* border: solid 5px yellow; */
    height: 300px;
}

.insert-comment-div{
    /* border: solid 5px red; */
    min-height: 250px;
}

.comments-div{
    /* border: solid 5px green; */
    min-height: 300px;
}

.product-title-div{
    height: 80px;
}

.product-gen-info-div{

}

.product-gen-info-picture1-div{

}

.product-gen-info-picture1{
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-gen-info-div button{
    width: 140px;
    height: 2.5em;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
} 

.product-description-div{
    margin-top: 80px;
    text-align: justify;
}

.product-details-div{
    margin-top: 2em;
    text-align: left;
}

.product-details-div h5{
    font-size: 1em;
}

.images-carousel-div img{
    max-height: 300px;
}

.slick-slide {  /* To give space between photos*/
	padding: 0 10px;
	box-sizing: border-box;
}

.game-trailer-div{
    min-height: 400px;
    /* border: 5px yellow solid; */
    margin-bottom: 30px;
}

.game-trailer-div .youtube-container-div{
    width: 90%;
    /* border: 5px brown solid; */
    margin: 0 auto;
}

.youtube-container, .video-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

.youtube-container iframe, .video-container video{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.comment-form-div input[type=number]{
    border-radius: 0.25rem;
    border: 1px solid lightgray;
}

.comment-form-div input[type=submit]{
    margin-top: 20px;
    width: 75px;
}

.comment-form-div textarea{
}

.comment-box-text{
    text-align: left !important;
    border-radius: 0.25rem;
    border: 1px solid lightgray;
}

.product-comment-div{

}

.comment-user-profile-picture{
    border: 2px solid black;
    height: 100px;
    width: 100px;
}

.comment-user-profile-picture img{
    max-height: 95px;
    max-width: 96px;
}

/**/
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}
.post-comments a{
    color: #66912f;    
    text-decoration: none;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.blog-comment{
    padding-left: 5%;
	padding-right: 5%;
}

.blog-comment ul{
	list-style-type: none;
	padding: 0;
}

.blog-comment img{
	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	  	 -o-border-radius: 4px;
			border-radius: 4px;
}

.blog-comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
}

.blog-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
}

.blog-comment .meta {
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.blog-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
	margin-bottom: 40px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 800;
}
/**/


/*====== Cart Page =====*/

.quantity-div input[type=number]::-webkit-inner-spin-button, .quantity-div input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    height: 200px;
}

.quantity-div button{
    height: 28px;
    padding: 0 5px 0;
    margin-bottom: 5px;
}

/*====== Order Page =====*/

.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.form-container{
    width: 500px;
    margin:0 auto;
    border: 1px solid  rgba(0,0,0,.1);
    border-radius: 0.5em;
    padding-top: 20px;
}

.credit-form-container{
    width: 500px;
    margin:0 auto;
    padding-top: 20px;
}

.order-review-div{
    /* border: 1px solid black; */
    padding-top: 26px !important;
    padding-bottom: 0 !important;
}

.payment-review-div{
    /* border: 1px solid black; */
    padding-top: 24px;
}

.order-review-div label{
    width: 200px;
    text-align: left;
}

.order-total{
    font-size: 1.1em;
    font-weight: 600;
}

.price-span{
    width: 100px;
    text-align: right;
    display: inline-block;
}

.grand-total-container{
    padding-top: 15px;
    
    background-color: rgba(0,0,0,.1)
}

input[type="radio"]{
    width: 50px;
    display: inline-block;
    color: seagreen;
}

/*====== All Games Page =====*/

#All-Games-div{
    /* border: 5px solid blue;  */
    margin-top: 50px;
    min-height: 600px;
}

#kenobierror{
    max-width: 500px;
}


/*====== Error handling =====*/
.errorBanner {
    font-family: 'Press Start 2P', cursive;
}

.errorMessage {
    font-style: italic;
    text-align: center;
    justify-content: center;
    padding: 0.2rem;
    background-color:rgba(255, 0, 0, 0.6);;
    color: white;
    font-size: 0.875em;
}

.min-height{
    height: 500px;
}
