@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.body-content{
    min-height: 500px;
}

#centerContent {
    margin: 0 auto;
    padding: 20px;
    width: 960px;
    background-color: white;
}

.errorBanner {
    font-family: 'Press Start 2P', cursive;
}

.errorMessage {
    font-style: italic;
    text-align: center;
    justify-content: center;
    padding: 0.2rem;
    background-color:rgba(255, 0, 0, 0.6);;
    color: white;
    font-size: 0.875em;
}

.min-height{
    height: 500px;
}
